<link rel="stylesheet" type="text/css" href="http://fontawesome.io/assets/font-awesome/css/font-awesome.css">
<div class="o-jumbotron">
    <div class="container text-center">
        <h1>{{title}}</h1>
        <!-- <h3>{{subtitle}}</h3> -->
    </div>
</div>
<subnavigation></subnavigation>
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-8 card qs">
          <p>
            Human Resources covers talent acquisition, compensation planning,
            benefits management, training, compliance, succession planning and a
            host of other activities. Orion has a dedicated team of recruiters
            focused on talent acquisition and a group of highly experienced HR
            professionals that work on specialized projects.
          </p>
          <div>
            We provide Human Resources project solutions such as:
            <ul>
              <li>Recruiting Process Outsourcing</li>
              <li>Outplacement Services</li>
              <li>Instructional Design</li>
              <li>Compensation Analysis and Planning</li>
              <li>HR Compliance Reviews</li>
            </ul>
          </div>
          <p>
            Have Links to the Following Project Examples (or perhaps a scrolling
            panel?)
          </p>
        </div>
    </div>
</div>
<div class="container qs o-grey-background">
  <div class="row mt-25 mb-25 o-container-fluid-margins">
    <div class="col-xs-12 mb-25">
      <h3 class="qs ">Project Examples Include:</h3>
      <ul class="nav nav-tabs">
        <li class="active">
          <a data-toggle="tab" href="#engineering_co">
            Recruiting Process Outsourcing – Engineering Company
          </a>
        </li>
        <li>
          <a data-toggle="tab" href="#global_finance_co">
            Recruiting Process Outsourcing – Global Finance Company
          </a>
        </li>
        <li>
          <a data-toggle="tab" href="#leadership_dev_prog">
            Leadership Development Program
          </a>
        </li>
        <li>
          <a data-toggle="tab" href="#compensation_study">
            Compensation Study
          </a>
        </li>
        <li>
          <a data-toggle="tab" href="#instructional_design">
            Instructional Design
          </a>
        </li>
      </ul>

      <div class="tab-content">
        <div id="engineering_co" class="tab-pane fade in active">
          <h3>CLIENT ISSUE</h3>
          <p>
            Our client, a fast growing pre-IPO engineering firm, was adding
            people at break neck pace but did not have the internal capacity to
            keep up.
          </p>
          <h3>ORION SOLUTION</h3>
          <p>
            Orion provided a hybrid solution that included outsourced recruiting
            services for open positions, while supporting the client’s efforts
            to build an internal HR team.
          </p>
          <h3>CLIENT OUTCOMES</h3>
          <p>
            Orion successfully recruited the entire accounting and finance function
            for the client. We attracted some of the top talent from the Big 4
            public accounting firms and worked closely with the new HR function
            to manage the recruiting and onboarding process.
          </p>
        </div>
        <div id="global_finance_co" class="tab-pane fade">
          <h3>CLIENT ISSUE</h3>
          <p>
            Our client, a global financial services company, experienced
            tremendous growth and needed highly qualified candidates across a
            broad spectrum of areas including: data analytics, accounting,
            internal audit, talent acquisition, risk management, and finance.
          </p>
          <h3>ORION SOLUTION</h3>
          <p>
            Orion established a single point of contact to manage candidate flow
            and client status reporting, while assigning a specific recruiter to
            lead the efforts for each key area (e.g., data analytics, risk
            management, etc.).
          </p>
          <h3>CLIENT OUTCOMES</h3>
          <p>
            Orion has helped the client hire nearly 50 people to date. We have
            been engaged on both contingent and retained searches, and after
            less than one year were named a Primary Vendor at the client.
          </p>
        </div>
        <div id="leadership_dev_prog" class="tab-pane fade">
          <h3>CLIENT ISSUE</h3>
          <p>
            Our client, a global financial services company, created an
            international leadership development program. The targeted
            professionals for this program included people with strong business
            acumen, advanced degrees, and fluency in at least two languages. The
            professionals also needed to be globally mobile and able to relocate
            internationally up to a year at a time.
          </p>
          <h3>ORION SOLUTION</h3>
          <p>
            Orion proposed a fixed price recruiting solution based on a highly
            disciplined screening approach. First, we assigned a core team of
            recruiters to focus on the initiative and developed a pool of potential
            candidates from college campuses, professional organizations, and
            consulting firms. The next phase included a language proficiency call
            with client personnel from other countries, and an on-site interview
            with the HR executive. Those passing this stage were invited into a
            comprehensive day-long assessment by key client executives.
          </p>
          <h3>CLIENT OUTCOMES</h3>
          <p>
            Orion succeeded in placing all the open positions, and kept the cost
            per hire below market rates. Orion was asked to run this program again
            several times and recruited a total of ten people into the program.
          </p>
        </div>
        <div id="compensation_study" class="tab-pane fade">
          <h3>CLIENT ISSUE</h3>
          <p>
            Our client, a global Tier One Automotive Supplier, has thousands of
            employees across a broad array of job roles across North America.
            The client wanted to assess compensation levels across job functions
            and geographic locations to ensure they were current with the market.
          </p>
          <h3>ORION SOLUTION</h3>
          <p>Orion provided a consultant who was a former global compensation
            director for a major corporation. The consultant developed an analysis
            approach and applied it across the various geographic locations.
          </p>
          <h3>CLIENT OUTCOMES</h3>
          <p>
            The Orion consultant completed the analysis on time and produced
            actionable recommendations for the senior management team. The
            client asked to extend the project to include additional job classes
            and locations.
          </p>
        </div>
        <div id="instructional_design" class="tab-pane fade">
          <h3>CLIENT ISSUE</h3>
          <p>
            Our client, a global manufacturing company, was implementing a new
            cloud-based human capital management software solution and needed
            help with training and roll out process.
          </p>
          <h3>ORION SOLUTION</h3>
          <p>
            Orion provided a highly experience instructional design consultant
            who implemented a process that included interviewing key users,
            developing baseline content, and getting the content into a web based
            presentation format that could be accessed from anywhere in the world.
          </p>
          <h3>CLIENT OUTCOMES</h3>
          <p>The training program was considered such a success that the client
            re-engaged the Orion consultant to take on a training design for a
            senior leadership program.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
