<!-- Subnavigation -->
<subnavigation></subnavigation>

<!-- Accounting Finance Header -->
<div class="o-jumbotron-small o-sc-header">
  <div class="container text-center">
    <h1>{{title}}<div class="o-underline"></div>
    </h1>
  </div>
</div>
<div class="qs o-sc-contact">
  <h4 style="margin-top:0">Contact Us &nbsp; &nbsp; <i class="fa fa-envelope" aria-hidden="true"></i>
  </h4>
  <div><a style="color: black" href="mailto:dporter@orionsolutionsgroup.net">Email here</a></div>
  <div>Phone: +1(714) 332-3088</div>
</div>

<div class="container-fluid qs">
  <div class="row ptrbl-60-30">
    <div class="col-xs-12 col-sm-12">
      <!-- <h4 class="fs-20 bold lh-40">
        {{topContent}}
      </h4> -->
      <h4 class="fs-20 text-center lh-40">
        {{topQuote}}
      </h4>
    </div>
  </div>
</div>



<div class="container-fluid qs mb-25">
  <div class="row o-bg-light-blue ptrbl-60-30 ptb-100">
    <div class="col-sm-12 fs-20 text-center">
      {{middleContent}}
    </div>
  </div>
</div>


<div class="container qs">
  <!-- Row Begin -->
  <div class="row mt-25 mb-50">
    <div class="col-sm-12">
      <h4 class="text-center">
        <strong>We provide Supply Chain professionals in the following areas:</strong>
      </h4>
      <hr>
      <!-- Third Section Begin -->
      <div class="row fs-16 af-three-section-container">
        <div class="col-sm-12 col-md-4 af-three-section af-three-section-left">
          <ul class="mb-0">
            <li>Trucking</li>
            <li>Third Party Logistics (3PL)</li>
            <li>Rail/Intermodal/Drayage</li>
            <li>Truck/LTL Brokerage</li>
            <li>LTL</li>
            <li>Flatbed/Specialized</li>
          </ul>
        </div>
        <div class="col-sm-12 col-md-4 af-three-section af-three-section-middle">
          <ul class="mb-0">
            <li>Warehousing</li>
            <li>Crossdock</li>
            <li>Distribution</li>
            <li>Consolidation</li>
            <li>International/Port</li>
            <li> Freight Forwarding </li>
          </ul>
        </div>
        <div class="col-sm-12 col-md-4 af-three-section af-three-section-right">
          <ul class="mb-0">
            <li>Manufacturing</li>
            <li>Procurement</li>
            <li>Materials Management</li>
            <li>Inventory Management </li>
            <li>Data Analytics </li>
            <li>Modeling & Optimization</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container qs mt-50 mb-50">
  <div class="row">
    <div class="col-sm-12 fs-20 o-card">
      {{bottomContent}}
      <br />
    </div>
  </div>
</div>

<div class="container qs mt-50 mb-50">
  <div class="row">
    <div class="col-sm-12 fs-20">

      <br />
    </div>
  </div>
</div>