<!-- Audit Risk Header -->
<div class="o-jumbotron-small">
  <div class="container text-center">
    <h1>{{title}}</h1>
  </div>
</div>

<!-- Subnavigation -->
<subnavigation></subnavigation>

<!-- Audit Risk Section -->
<div class="container o-consulting-component">

  <div class="row mt-25">
    <div class="col-xs-12">
      <h3 class="qs mt-25 mb-25 text-center">
        Corporate boards, executive teams, customers and others are demanding
        ever more assurance that the companies they work for, rely upon, and
        invest in are appropriately addressing risk.
      </h3>
    </div>
  </div>
</div>

<div class="container-fluid mt-25">
  <div class="row">
    <div class="o-bg-l-grey pb-50 pt-50 ps-40">
      <h4 class="qs mt-25 text-center">
        Orion has extensive
        experience in internal audit, governance, enterprise risk, compliance,
        and fraud investigations. Our team comes with certifications such as
        CIA, CFE, CISA, CRISC, CPA and others. We have completed a broad range
        of projects including SOX integration, fraud investigations, construction
        audits, multi-year co-sourcing engagements, etc.
      </h4>
    </div>
  </div>
</div>

<div class="container o-consulting-component">
  <div class="row mt-25">
    <div class="col-sm-12 qs">
      <h3>We provide audit &amp; compliance project solutions such as:</h3>
    </div>
    <div class="col-xs-12 col-sm-12 o-card qs">
      <div>
        <ul>
          <li>Internal Audit Co-Sourcing</li>
          <li>Sarbanes-Oxley (SOX) Compliance</li>
          <li>Fraud Investigations</li>
          <li>Governance, Risk, and Compliance (GRC) Projects</li>
          <li>Enterprise Risk Assessments</li>
          <li>Forensic Accounting</li>
          <li>Bank Regulatory Compliance</li>
          <li>Contract Review / Cost Recovery</li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="container qs o-grey-background">

  <div class="row mt-25 mb-25 o-container-fluid-margins">
    <div class="col-xs-12 mb-25">

      <h3 class="qs">Project Examples Include:</h3>
      <ul class="nav nav-pills">
        <li class="active">
          <a data-toggle="tab" href="#internal_audit_co_s">
            Internal Audit Co-Sourcing
          </a>
        </li>
        <li>
          <a data-toggle="tab" href="#sox_integration">
            SOX Integration
          </a>
        </li>
        <li>
          <a data-toggle="tab" href="#fraud_investigation">
            Fraud Investigation / Forensic Accounting
          </a>
        </li>
        <li>
          <a data-toggle="tab" href="#construction_audit">
            Construction Audit
          </a>
        </li>
        <li>
          <a data-toggle="tab" href="#quality_assurance_review">
            Quality Assurance Review (QAR)
          </a>
        </li>
      </ul>

      <div class="tab-content">

        <div id="internal_audit_co_s" class="tab-pane fade in active card">
          <h3>CLIENT ISSUE</h3>
          <p>Our client, a global manufacturing and distribution company, was
            going through a major transition that involved selling a division
            and moving their world headquarters. These changes caused a number
            of employees to seek other employment rather than move, threatening
            the ability of the internal audit team to complete their schedule and
            meet their Sarbanes-Oxley (SOX) deadlines.</p>
          <h3>ORION SOLUTION</h3>
          <p>Orion brought in a team on internal audit and IT audit consultants
            on a co-sourced basis. The consultants carried CIA and CISA designations
            and each had more than 15 years of experience. The team had the
            experience to act as managers when needed and willingness to work as
            staff when direct work needed.
          </p>
          <h3>CLIENT OUTCOMES</h3>
          <p>With Orion’s help the client completed the entire audit schedule and
            met all Sarbanes-Oxley (SOX) deadlines. Orion provided a stabilizing
            presence that allowed for a smooth transition to a new head of audit.
            In addition, we devised a flexible plan that allowed us to ramp our
            team up and down as needed to help the client control project costs.
          </p>
        </div>

        <div id="sox_integration" class="tab-pane fade card">
          <h3>CLIENT ISSUE</h3>
          <p>Our client, a publicly-traded manufacturing company, acquired one
            of their primary competitors. The competitor was privately held and
            did not have an existing Sarbanes-Oxley (SOX) program. Our client
            needed a team to document processes, assessment the control environment
            and determine the effectiveness on internal controls – all in time
            for the first year financial reporting deadlines.
          </p>
          <h3>ORION SOLUTION</h3>
          <p>Orion worked with the client to develop a project plan and provided
            a highly experienced team of consultants with extensive SOX and SOX
            IT experience. The team carried CIA, CPA and CISA designations and
            averaged more than 20 years of experience. We developed a multi-phased
            program that started with process and control documentation, initial
            evaluation of control design and effectiveness, and then moved into
            full testing of control effectiveness, reporting of deficiencies,
            and working with management to remediate and retest failed controls.
          </p>
          <h3>CLIENT OUTCOMES</h3>
          <p>Orion’s experienced team was so efficient that each phase was
            completed under budget. The client used the extra time to have our
            team work on other projects including an audit of a manufacturing
            site and review of controls surrounding an ERP implementation.
          </p>
        </div>

        <div id="fraud_investigation" class="tab-pane fade card">
          <h3>CLIENT ISSUE</h3>
          <p>Our client believed there was a potential fraud in a key area and
            wanted to have an outside party review the information and determine
            the extent of fraudulent activities.
          </p>
          <h3>ORION SOLUTION</h3>
          <p>Orion provided a CPA with many years of forensic accounting
            experience. The consultant developed a multistep review process to
            go over expense records, corporate credit card usage, and tracking
            of assets through online sales platforms. The consultant then worked
            with the state prosecutor’s office and the insurance adjuster to move
            the case to the next step.
          </p>
          <h3>CLIENT OUTCOMES</h3>
          <p>Our forensic accounting consultant identified dozens of fraudulent
            transactions that pushed the cost of the fraud into six digits. The
            work resulted in a criminal investigation and a full recovery from
            the insurance company. Each transaction was documented to a level that
            led to no disputes on the amount of fraudulent activity.
          </p>
        </div>

        <div id="construction_audit" class="tab-pane fade card">
          <h3>CLIENT ISSUE</h3>
          <p>Our client began a series of multi-million dollar construction
            projects throughout the Midwestern United States. Our client’s
            internal audit team wanted to co-source with a firm that could bring
            in a construction expert to review contract compliance, cost, and
            internal controls.
          </p>
          <h3>ORION SOLUTION</h3>
          <p>Orion brought in a specialized consultant with more than twenty
            years of experience in construction and forensic audits to do a risk
            assessment, develop an audit program, and review the appropriate
            contracts, invoices and other documents.
          </p>
          <h3>CLIENT OUTCOMES</h3>
          <p>Orion’s consultant identified several contractual deficiencies and
            worked with the client’s contract managers to ensure the issues were
            addressed. The audit also resulted in recommendations for properly
            capturing historical cost information and developing a budget
            framework to assess future projects against a baseline. The client
            now has a repeatable audit program that will be used by their internal
            personnel to assess future construction projects. Both the client’s
            internal audit manager and the manager of the construction team
            commented on our consultant’s deep construction knowledge and the
            value of the review.
          </p>
        </div>

        <div id="quality_assurance_review" class="tab-pane fade card">
          <h3>CLIENT ISSUE</h3>
          <p>Our client, a major regional insurance firm, wanted an external
            assessment of the Internal Audit function using the Institute of
            Internal Auditors (IIA) Quality Assurance Review process (QAR).
          </p>
          <h3>ORION SOLUTION</h3>
          <p>Orion built a team that included a former Big 4 accounting partner
            and former chief risk officer. We developed and executed a customized
            project plan that included executive and Board interviews, staff
            surveys, and direct reviews of the audit process, risk assessments,
            issue reporting and follow up, staff competence and education, etc.
          </p>
          <h3>CLIENT OUTCOMES</h3>
          <p>Orion delivered a comprehensive report on the Internal Audit group’s
            compliance with IIA standards as well as the overall effectiveness of
            the group. We also provided best practices feedback and suggested
            several opportunities for improvement. The report was well received
            by both the Internal Audit group and the Audit Committee of the Board
            of Directors.
          </p>
        </div>

      </div>
    </div>
  </div>

</div>
