.o-case-description{
    padding:20px 15px;
    border:1px solid black;
    border-radius: 5px;
    margin:10px 0;
}
.o-case-description:hover{
    cursor: pointer;
    background-color: #f5f4fc;
}
.o-container-fluid-margins {
  margin-left: 10px;
  margin-right: 10px;
}

.nav-pills > li > a {
  margin: 5px;
  background-color: #f3f3f3;
}

.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
  color: #fff;
  background-color: #337ab7;
}
