<!-- Subnavigation -->
<subnavigation></subnavigation>

<!-- Professional Recruiting Header -->
<div class="o-jumbotron-small">
    <div class="container text-center">
        <h1>{{title}}<div class="o-underline"></div></h1>
    </div>
</div>

<!-- Professional Recruiting Section -->
<div class="container qs">
  <div class="row p-40 ">
    <div class="col-xs-12 mt-25">
      <h3 class="qs mt-25 mb-25 text-center">
        Orion brings a fresh approach to Professional Recruiting – with strong emphasis on the word
        “professional”
      </h3>
    </div>
  </div>
</div>

<div class="container-fluid qs mt-25 text-center">
  <div class="row p-40 o-bg-light-blue">
    <div class="col-md-12">
      <h4>
        We treat each recruiting opportunity as its own project.
        We develop a deep understanding of the job requirements and the type of personality that will be
        successful within the client’s direct team and the overall organization.
        At the same time, we constantly work to build relationships with candidates who represent the top people
        in their fields.
      </h4>
    </div>
  </div>
</div>

<div class="container-fluid qs mt-25">

  <div class="row mb-25 p-40 lh-40">

    <div class="col-xs-12 col-sm-12 qs text-center">
      <h2>Our Clients</h2>
    </div>
    <div class="col-sm-6 col-xs-12">
      <div class="text-center fs-16">
        Our clients trust our process because we guarantee candidates will
        have the following attributes before we submit them for consideration.
        We do not waste our client’s time.
      </div>
    </div>
    <div class="col-sm-6 col-xs-12 fs-16">
      <ul class="mobile-padding-30">
        <li>The candidate has the experience and skill set to do the job.</li>
        <li>The candidate has the right personality to fit into the organization.</li>
        <li>The candidate fits into the client’s compensation range.</li>
        <li>The candidate is excited about the opportunity.</li>
      </ul>
    </div>
  </div>

  <div class="row p-40 o-bg-l-blue">
    <div class="col-xs-12 col-sm-12 qs text-center">
      <h2>Candidate Pledge</h2>
    </div>
    <div class="col-sm-6 col-xs-12">
      <div class="text-center fs-16">
        Our candidates trust us because we act as a career partner and
        not just a recruiter trying to make a fee. Relationships are built
        on trust and respect, and we promise the following to our candidates:
      </div>
    </div>
    <div class="col-sm-6 col-xs-12">
      <ul class="mobile-padding-30">
        <li>We get to know your personal and career aspirations and will only present roles that help you
            achieve those aspirations.
        </li>
        <li>We will fiercely protect your privacy. Your information will never be submitted to a client without
            your permission.
        </li>
        <li>We will keep you informed of our progress throughout the recruiting process.</li>
        <li>We will act as your advocate to ensure you get an offer that meets your personal needs.</li>
      </ul>
    </div>
  </div>

</div>

<div class="container qs">

  <div class="row mt-25 mb-25">
    <div class="col-xs-12 mb-25">

      <h3>Orion Professional Recruiting engagements include:</h3>
      <ul class="nav nav-pills">
        <li *ngFor="let x of examples; let first = first" [ngClass]="{ active: first }">
          <a data-toggle="pill" [attr.href]="'#' + x.id">
            {{x.title}}
          </a>
        </li>
      </ul>

      <div class="tab-content">
        <div *ngFor="let x of examples; let first = first" class="tab-pane fade o-card" [attr.id]="x.id"  [ngClass]="{ active: first, in: first }">
          <h3>{{x.title}}</h3>
          <ul>
            <li *ngFor="let li of x.list">- {{li}}</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container qs">
    <div class="row mb-25 p-20">
        <h4 class="qs text-center">
            If you are interested in a new position, please click <a routerLink="/jobs">here</a> to learn more about our open roles.
        </h4>
    </div>

</div>
