<nav class="navbar navbar-default subnavigation" >
    <div class="container-fluid">

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">

              <!-- Careers Dropdown -->
              <!-- <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                    Careers <span class="caret"></span>
                  </a>

                  <ul class="dropdown-menu">
                      <li data-toggle="collapse" data-target=".nav-collapse.in" class="navR-border nav-icon">
                        <a routerLink="/consulting" class="nav-link">Consulting at Orion</a>
                      </li>
                      <li data-toggle="collapse" data-target=".nav-collapse.in" class="navR-border nav-icon">
                        <a routerLink="/professionalrecruiting" class="nav-link">Orion as your Recruiter</a>
                      </li>
                      <li data-toggle="collapse" data-target=".nav-collapse.in" class="navR-border nav-icon">
                        <a routerLink="/jobs" class="nav-link">Open Positions</a>
                      </li>
                  </ul>
              </li> -->
              <!-- Careers Dropdown END -->
              <li data-toggle="collapse" data-target=".nav-collapse.in" class="navR-border nav-icon">
                  <a routerLink="/jobs" class="nav-link">
                    Search Open Jobs
                  </a>
              </li>
              <!-- Project Delivery Dropdown -->
<!--               <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                    Project Delivery <span class="caret"></span>
                  </a>
                  <ul class="dropdown-menu">
                      <li data-toggle="collapse" data-target=".nav-collapse.in" class="navR-border nav-icon">
                        <a routerLink="/projectdelivery" class="nav-link">Landing Page</a>
                      </li>
                      <li data-toggle="collapse" data-target=".nav-collapse.in" class="navR-border nav-icon">
                        <a routerLink="/accountingfinance" class="nav-link">Accounting &amp; Finance</a>
                      </li>
                      <li data-toggle="collapse" data-target=".nav-collapse.in" class="navR-border nav-icon">
                        <a routerLink="/auditrisk" class="nav-link">Audit, Risk &amp; Compliance</a>
                      </li>
                      <li data-toggle="collapse" data-target=".nav-collapse.in" class="navR-border nav-icon">
                        <a routerLink="/itauditsecurity" class="nav-link">IT Audit &amp; Security</a>
                      </li>
                      <li data-toggle="collapse" data-target=".nav-collapse.in" class="navR-border nav-icon">
                        <a routerLink="/humanresources" class="nav-link">Human Resources</a>
                      </li>
                  </ul>
              </li> -->
              <!-- Project Delivery Dropdown END -->

              <!-- Contract Staffing -->
              <li data-toggle="collapse" data-target=".nav-collapse.in" class="navR-border nav-icon">
                  <a routerLink="/contractstaffing" class="nav-link">
                    Contract Staffing
                  </a>
              </li>

              <!-- Professional Recruiting Dropdown -->
              <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                    Professional Recruiting <span class="caret"></span>
                  </a>
                  <ul class="dropdown-menu">
                      <li data-toggle="collapse" data-target=".nav-collapse.in" class="navR-border nav-icon">
                        <a routerLink="/professionalsearch" class="nav-link">Professional Search</a>
                      </li>
                      <li data-toggle="collapse" data-target=".nav-collapse.in" class="navR-border nav-icon">
                        <a routerLink="/retainedsearch" class="nav-link">Retained Search</a>
                      </li>
                      <li data-toggle="collapse" data-target=".nav-collapse.in" class="navR-border nav-icon">
                        <a routerLink="/contingentsearch" class="nav-link">Contingent Search</a>
                      </li>
                  </ul>
              </li>
              <!-- Professional Recruiting Dropdown END -->

              <!-- Testimonials
                <li data-toggle="collapse" data-target=".nav-collapse.in" class="navR-border nav-icon">
                  <a routerLink="/consulting" class="nav-link">Testimonials</a>
              </li>-->


            </ul>
        </div>
    </div>
</nav>
