<!-- Professional Search Header -->
<style>
  li{list-style-type: none}
</style>
<div class="o-jumbotron-small">
    <div class="container text-center">
        <h1>{{title}}</h1>
    </div>
</div>

<!-- Subnavigation -->
<subnavigation></subnavigation>

<!-- Professional Search Section -->
<div class="t-center mt-25 mb-25 qs" style="font-size: 20px;">
  <a routerLink="/professionalsearch" ><button class="btn-light btn btn-default btn-lg">Professional Search</button> </a>&nbsp;  &nbsp;
  <a routerLink="/contingentsearch" ><button class="btn-light btn btn-default btn-lg">Contingent Search </button></a>&nbsp;  &nbsp;
  <a routerLink="/retainedsearch" ><button class="btn-light btn btn-default btn-lg">Retained Search</button> </a>
</div>

<div class="container mt-25 qs">
  <div class="row">

    <div class="col-xs-12">

      <p class="fs-20 text-center">
        Orion brings a fresh approach to Professional Recruiting – with
        strong emphasis on the word “professional”. We treat each recruiting
        opportunity as its own project. We develop a deep understanding of
        the job requirements and the type of personality that will be
        successful within the client’s direct team and the overall
        organization. At the same time, we constantly work to build
        relationships with candidates who represent the top people in their
        fields.
      </p>
    </div>
    <br/><br/>

    <div class=" col-xs-12 col-sm-6">

      <h3>Client Pledge</h3>
      <div>
        <div class="o-card" style="min-height: 328px;">
          Our clients trust our process because we guarantee candidates will
          have the following attributes before we submit them for consideration.
          We do not waste our client’s time.<br/><hr/>
          <ol>
            <li>
              - The candidate has the experience and skill set to do the job.
            </li>
            <li>
              - The candidate has the right personality to fit into the organization.
            </li>
            <li>
              - The candidate fits into the client’s compensation range.
            </li>
            <li>
              - The candidate is excited about the opportunity.
            </li>
          </ol>
        </div>
      </div>
    </div>
    <div class=" col-xs-12 col-sm-6">
      <h3>Candidate Pledge</h3>
      <div class="o-card" style="min-height: 328px;">
        Our candidates trust us because we act as a career partner and not
        just a recruiter trying to make a fee. Relationships are built on
        trust and respect, and we promise the following to our candidates:<br/><hr/>
        <ol>
          <li>
            - We get to know your personal and career aspirations and will
            only present roles that help you achieve those aspirations.
          </li>
          <li>
            - We will fiercely protect your privacy. Your information will
            never be submitted to a client without your permission.
          </li>
          <li>
            - We will keep you informed of our progress throughout the
            recruiting process.
          </li>
          <li>
            - We will act as your advocate to ensure you get an offer that
            meets your personal needs.
          </li>
        </ol>
      </div>

    </div>
  </div>

  <!-- Starting here -->
  <div class="row mb-25 ps-20">
    <div class="col-xs-12">
      <h3 class="qs mt-50">Examples of Orion Professional Recruiting engagements have included:</h3>
      <ul class="nav nav-pills ">
        <li class="active">
          <a data-toggle="pill" href="#accountingandfinance">
            Accounting &amp; Finance
          </a>
        </li>
        <li>
          <a data-toggle="pill" href="#auditriskcompliance">
            Audit, Risk &amp; Compliance
          </a>
        </li>
        <li>
          <a data-toggle="pill" href="#itauditsecurity">
            IT Audit &amp; Security
          </a>
        </li>
        <li>
          <a data-toggle="pill" href="#humanresources">
            Human Resources
          </a>
        </li>
        <li>
          <a data-toggle="pill" href="#salesandmarketing">
            Sales &amp; Marketing
          </a>
        </li>
        <li>
          <a data-toggle="pill" href="#supplychain">
            Supply Chain
          </a>
        </li>
        <li>
          <a data-toggle="pill" href="#dataanalytics">
            Data Analytics
          </a>
        </li>
      </ul>

      <div class="tab-content">

        <div id="accountingandfinance" class="tab-pane fade in active o-card">
          <h3>Accounting &amp; Finance</h3>
          <ul>
            <li>- VP of Finance</li>
            <li>- Corporate Controller</li>
            <li>- Tax Director</li>
            <li>- Director of Financial Reporting</li>
            <li>- Financial Analyst</li>
            <li>- VP Technical Accounting</li>
            <li>- Finance Manager</li>
            <li>- Accounting Manager</li>
            <li>- Global Treasury Senior Analyst</li>
            <li>- Tax Manager</li>
            <li>- Senior Manager - Payroll Operations</li>
            <li>- Senior International Tax Analyst</li>
            <li>- Regional Accountant</li>
            <li>- Treasury Operations Manager</li>
            <li>- State Tax Manager</li>
            <li>- Cost Analyst</li>
          </ul>
        </div>

        <div id="auditriskcompliance" class="tab-pane fade o-card">
          <h3>Audit, Risk &amp; Compliance</h3>
          <ul>
            <li>- Internal Audit Director</li>
            <li>- Internal Control (SOX) Manager</li>
            <li>- Regulatory Services Manager</li>
            <li>- Fraud &amp; Financial Audit Manager</li>
            <li>- Senior Compliance Auditor</li>
            <li>- Senior Internal Auditor</li>
            <li>- AML &amp; Anti-Corruption Compliance Analyst</li>
            <li>- Document Compliance Specialist</li>
          </ul>
        </div>

        <div id="itauditsecurity" class="tab-pane fade o-card">
          <h3>IT Audit &amp; Security</h3>
          <ul>
            <li>- IT Audit Manager</li>
            <li>- Data Privacy &amp; Protection Manager</li>
            <li>- Senior Security Specialist</li>
            <li>- IT Auditor</li>
            <li>- SAP IT Audit Manager</li>
            <li>- Advanced IT Auditor</li>
          </ul>
        </div>

        <div id="humanresources" class="tab-pane fade o-card">
          <h3>Human Resources</h3>
          <ul>
            <li>- Global Function HR Business Partner</li>
            <li>- Compensation Analyst</li>
            <li>- Training Design Manager</li>
            <li>- Process Excellence Service Design Manager</li>
            <li>- Instructional Design Specialist</li>
            <li>- Senior Learning &amp; Development Specialist</li>
            <li>- Process Excellence Senior Manager</li>
          </ul>
        </div>

        <div id="salesandmarketing" class="tab-pane fade o-card">
          <h3>Sales &amp; Marketing</h3>
          <ul>
            <li>- VP of Strategy</li>
            <li>- Managing Director</li>
            <li>- Inside Sales</li>
            <li>- Business Development Associate</li>
          </ul>
        </div>

        <div id="supplychain" class="tab-pane fade o-card">
          <h3>Supply Chain</h3>
          <ul>
            <li>- Senior Supply Chain Analyst</li>
            <li>- Manager of Supply Chain Systems</li>
            <li>- Buyer</li>
          </ul>
        </div>

        <div id="dataanalytics" class="tab-pane fade o-card">
          <h3>Data Analytics</h3>
          <ul>
            <li>- Risk Analyst – Advanced Analytics</li>
            <li>- Senior Commercial Risk Analyst</li>
            <li>- Senior Analyst – Loss Forecasting and Reserves</li>
            <li>- Risk Administration and PMO Specialist</li>
            <li>- Customer Experience Research Analyst</li>
            <li>- Analytics Solution Analyst</li>
            <li>- Actuarial Analyst</li>
          </ul>
        </div>

      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <p>
        If you are interested in a new position, please click
        <a [routerLink]="['/jobs']">here</a>
        to learn more about our open roles.
      </p>
    </div>
  </div>

</div>
