<div class="o-header">
  <div class="container text-center">
    <h1>{{title}}</h1>
    <!-- <h3>{{subtitle}}</h3> -->
  </div>
</div>

<subnavigation></subnavigation>


<section id="o-history-timeline" class="qs">
  <div class="o-timeline">
    <div *ngFor="let x of timeline; let even = even; let odd = odd" [ngClass]="{ left: even, right: odd }" class="o-timeline-container">
      <div class="o-timeline-entry">
        <h2>{{x.title}}</h2>
        <p>{{x.details}}</p>
        <a *ngIf="x.videoURL" [attr.href]="x.videoURL">
          {{x.videoURL}}
        </a>
      </div>
    </div>

  </div>
</section>
