<div class="o-header">
  <div class="container text-center">
    <h1>{{title}}</h1>
    <!-- <h3>{{subtitle}}</h3> -->
  </div>
</div>

<subnavigation></subnavigation>


<section id="o-history-timeline" class="qs">
  <div class="o-timeline">
    <div class="o-timeline-container left">
      <div class="o-timeline-entry">
        <h2>January 2018</h2>
        <p>{{january_2018}}</p>
      </div>
    </div>
    <div class="o-timeline-container right">
      <div class="o-timeline-entry">
        <h2>October 2017</h2>
        <p>{{october_2017}}</p>
      </div>
    </div>
    <div class="o-timeline-container left">
      <div class="o-timeline-entry">
        <h2>January 2017</h2>
        <p>{{january_2017}}</p>
      </div>
    </div>
    <div class="o-timeline-container right">
      <div class="o-timeline-entry">
        <h2>Summer 2016</h2>
        <p>{{summer_2016}}</p>
      </div>
    </div>
    <div class="o-timeline-container left">
      <div class="o-timeline-entry">
        <h2>August 2016</h2>
        <p>{{august_2016}}</p>
      </div>
    </div>
    <div class="o-timeline-container right">
      <div class="o-timeline-entry">
        <h2>January 2016</h2>
        <p>{{january_2016}}</p>
      </div>
    </div>
    <div class="o-timeline-container left">
      <div class="o-timeline-entry">
        <h2>September 2015</h2>
        <p>{{september_2015}}</p>
      </div>
    </div>
    <div class="o-timeline-container right">
      <div class="o-timeline-entry">
        <h2>February 2015</h2>
        <p>{{february_2015}}</p>
      </div>
    </div>
    <div class="o-timeline-container left">
      <div class="o-timeline-entry">
        <h2>January 2015</h2>
        <p>{{january_2015}}</p>
      </div>
    </div>
    <div class="o-timeline-container right">
      <div class="o-timeline-entry">
        <h2>April 2014</h2>
        <p>
          {{april_2014}}
          <br>
          <a href="{{april_2014_a}}">Video Link</a>
        </p>
      </div>
    </div>
    <div class="o-timeline-container left">
      <div class="o-timeline-entry">
        <h2>January 2014</h2>
        <p>{{january_2014}}</p>
      </div>
    </div>
    <div class="o-timeline-container right">
      <div class="o-timeline-entry">
        <h2>September 2013</h2>
        <p>{{september_2013}}</p>
      </div>
    </div>
    <div class="o-timeline-container left">
      <div class="o-timeline-entry">
        <h2>May 2013</h2>
        <p>{{may_2013}}</p>
      </div>
    </div>
    <div class="o-timeline-container right">
      <div class="o-timeline-entry">
        <h2>April 2013</h2>
        <p>{{april_2013}}</p>
      </div>
    </div>
    <div class="o-timeline-container left">
      <div class="o-timeline-entry">
        <h2>November 2012</h2>
        <p>{{november_2012}}</p>
      </div>
    </div>
    <div class="o-timeline-container right">
      <div class="o-timeline-entry">
        <h2>October 2012</h2>
        <p>{{october_2012}}</p>
      </div>
    </div>
    <div class="o-timeline-container left">
      <div class="o-timeline-entry">
        <h2>Summer 2012</h2>
        <p>{{summer_2012}}</p>
      </div>
    </div>
  </div>
</section>
