<subnavigation></subnavigation>

<div class="o-jumbotron-small">
    <div class="container text-center">
        <h1>{{title}}<div class="o-underline"></div></h1>
    </div>
</div>


<div class="container-fluid" style="padding: 0">
    <div class="text-center mt-25 qs o-bg-light-blue ps-30 pb-100 pt-100">
        <h3>Contract staffing is a great solution to many issues that arise. Orion provides contract staffing
          when clients experience any number of scenarios:
        </h3>
      </div>
</div>

<div class="container o-contract-staffing mt-25 mb-25 qs">

  <!-- Row Begin -->
  <div class="row mt-25">
    <!-- <div class="col-xs-12 text-center o-bg-light-blue ps-30 pb-100 pt-100">
      <h3>Contract staffing is a great solution to many issues that arise. Orion provides contract staffing
        when clients experience any number of scenarios:
      </h3>
      <hr>
    </div> -->

    <div class="col-xs-12">
      <div class="o-card">
        <ul style="list-style-type: lower-roman">
          <li>Key personnel are on leave and the day-to- day work still needs to be done</li>
          <li>Subject matter expertise is required on an as-needed basis</li>
          <li>Major implementation or integration project requires more resources</li>
          <li>Seasonal spikes create short term demand for additional people</li>
        </ul>
      </div>
    </div>
  </div>
  <!-- Row End -->

  <!-- Row Begin -->
  <div class="row mt-20" id="o-examples">
    <div class="col-md-12 mt-20">
      <h4>
        Orion approaches contract staffing in the same way as a project assignment – we work with the
        client to truly understand what needs to accomplished and the kind of personalities that work
        best with the client team.
      </h4>
    </div>
  </div>
</div>

<div class="container qs">

  <div class="row mt-25 mb-25">
    <div class="col-xs-12 mb-25">

      <h3>Project Examples Include:</h3>
      <ul class="nav nav-pills">
        <li *ngFor="let x of examples; let first = first" [ngClass]="{ active: first }">
          <a data-toggle="pill" [attr.href]="'#' + x.id">
            {{x.title}}
          </a>
        </li>
      </ul>

      <div class="tab-content">

        <div *ngFor="let x of examples; let first = first" class="tab-pane fade o-card" [attr.id]="x.id"  [ngClass]="{ active: first, in: first }">
          <h3>{{x.title}}</h3>
          <ul>
            <li *ngFor="let li of x.list">- {{li}}</li>
          </ul>
        </div>

      </div>
    </div>
  </div>

</div>


<div class="container qs">

    <div class="row mb-25 p-20">
        <h4 class="qs text-center">
          If you are interested in joining Orion for contract roles, please click <a routerLink="/consulting">here</a> to learn more
          about us.
        </h4>
    </div>

</div>
