.o-contract-staffing{
    font-family: 'Nunito', sans-serif;
}
#o-examples .o-card{
    min-height: 214px;
    list-style-type: none;
    line-height: 1.5;
}
#o-examples .o-card.o-card-2{
    min-height: 155px;
}