<!-- Subnavigation -->
<subnavigation></subnavigation>

<!-- OurTeam Header -->
<div class="o-header">
  <div class="container text-center">
    <h1>{{title}}<div class="o-underline"></div>
    </h1>
    <div class="o-header-subtitle">{{subtitle}}</div>
  </div>
</div>



<section id="o-container-contact" class="qs mt-25">
  <div class="container">
    <div class="row">
      <div class="col-xs-0 col-sm-1"></div>
      <div class="o-third-container col-sm-5 offset-sm-1">
        <div>
          <i class="fa fa-users" aria-hidden="true"></i>
          <h2>Client Needs</h2>
          <p>
            <a href="mailto:solutions@orionsolutionsgroup.net">
              solutions@orionsolutionsgroup.net
            </a>
          </p>
        </div>
      </div>
      <div class="o-third-container col-sm-5">
        <div>
          <i class="fa fa-envelope" aria-hidden="true"></i>
          <h2>Media Inquiries</h2>
          <p>
            <a href="mailto:media@orionsolutionsgroup.net">
              media@orionsolutionsgroup.net
            </a>
          </p>
        </div>
      </div>
      <div class="col-xs-0 col-sm-1"></div>
    </div>
    <div class="row mt-50">
      <div class="col-xs-12">
        <h1 class="qs" style="padding: 0 0 20px 0">Office Locations</h1>
        <div style="border:1px solid #ddd">
          <div class="o-location-list-left">
            <ol>
              <li class="o-location-list" *ngFor="let x of locations;">
                <div>
                  <span style="color:#1e658f;font-size: 16px">{{x.name}}</span>
                </div>
                <br>
                <div [innerHTML]="x.address">
                </div>
                <br>
                <div style="padding-right:14em">
                  {{x.phone}}
                </div>
                <div (click)="switchMap(x.mapUrl)">
                    <span class="o-direction-link">View Directions</span>
                </div>
              </li>
            </ol>
          </div>
          <div class="o-location-list-right">
            <iframe
              [src]="sanitizer.bypassSecurityTrustResourceUrl(mapUrl)"
              width="100%" height="500" frameborder="0" style="border:0" allowfullscreen>
            </iframe>
          </div>
        </div>
      </div>
    </div>
    <div class="row o-contact-location">
      <div class="col-md-12">
        <div class="o-contact-container">
          <div class=" col-xs-12 col-sm-7 text-center mt-20 mb-20 pt-50">
            <p classs="">
              Orion Solutions Group is located at 2950 West Square
              Lake Road, Suite 100, Troy MI 48098. We can be reached at
              <span class="o-emphasize">(855) 223-4020</span>
              or at one of the email addresses above.
            </p>
          </div>
          <div class="hidden-xs col-sm-5 text-center mt-20 mb-20">
            <img src="/assets/images/Haverhill.png" height="220" alt="office" />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>