<!-- Vision Header -->
<div class="o-header">
  <div class="container text-center">
    <h1>{{title}}</h1>
  </div>
</div>

<!-- Subnavigation -->
<subnavigation></subnavigation>

<!-- Vision Section -->
<section id="o-container-vision">

  <!-- Orion Vision -->
  <div class="container-fluid mt-25 text-center">
    <div class="row p-40">
      <div class="col-md-12">
        <h2>Orion Vision</h2>
        <hr class="o-hr-blue">
        <h4>{{orion_vision}}</h4>
      </div>
    </div>

    <!-- Orion Mission -->
    <div class="row p-40 o-bg-l-grey">
      <div class="col-md-12">
        <h2>Orion Mission</h2>
        <hr class="o-hr-blue">
        <h4>{{orion_mission}}</h4>
      </div>
    </div>
  </div>

  <!-- Orion Values -->
  <div class="container-fluid o-vision-values">
    <div class="row p-40 text-center">
      <div class="col-md-12">
        <h2>Orion Values</h2>
        <hr class="o-hr-blue">
      </div>

      <!-- Column 1 -->
      <div class="col-sm-6">
          <div class="o-split-container">
            <h3>{{orion_values_1_title}}</h3>
            <p>{{orion_values_1}}</p>
          </div>
          <div class="o-split-container">
            <h3>{{orion_values_2_title}}</h3>
            <p>{{orion_values_2}}</p>
          </div>
      </div>

      <!-- Column 2 -->
      <div class="col-sm-6">
          <div class="o-split-container">
            <h3>{{orion_values_3_title}}</h3>
            <p>{{orion_values_3}}</p>
          </div>
          <div class="o-split-container">
            <h3>{{orion_values_4_title}}</h3>
            <p>{{orion_values_4}}</p>
          </div>
      </div>

    </div>
  </div>
  <!-- Orion Values END -->

</section>
