.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
}
/* Vision Header */
.o-header {
/*  background: url(../../assets/images/office.jpg) no-repeat center top fixed;
*/  background-color: #fff;
  background-position-y: -440px;
  color: inherit;
  height: 200px;
}

.o-header h1,
.o-header h3 {
  color: #ffffff;
  font-family: "Quicksand";
}


/* Vision Section  */
#o-container-vision h4{
   line-height: 2.5;

}
.o-values-section-title{
    padding: 10px 40px;
    display: inline-block;
    border-radius: 5px;
}
#o-container-vision .o-split-container-blue {
  background-color: rgba(255,255,255,0.9);
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 1px 2px grey;
  margin-bottom: 30px;
  transition: 1s;
  height: 170px;
}
.o-bg-light-blue {
  background-color: #d2ecff80;
  color: black;
  font-size: 16px;
  line-height: 42px;
  padding-top: 50px;
  padding-bottom: 50px;
}

@media only screen and (max-width: 1021px) {
  #o-container-vision .o-split-container-blue {
    height: 190px;
  }
}

@media only screen and (max-width: 867px) {
  #o-container-vision .o-split-container-blue {
    height: 208px;
  }
}

@media only screen and (max-width: 767px) {
  #o-container-vision .o-split-container-blue {
    height: auto;
  }
}

#o-container-vision .o-split-container-blue:hover {
  background-color: #e9ecef;
}

#o-container-vision .o-vision-values {
/*  background: url("/assets/images/office.jpg") no-repeat center top fixed;
*/  background-position-y: 98px;
}
