<link rel="stylesheet" type="text/css" href="http://fontawesome.io/assets/font-awesome/css/font-awesome.css">
<div class="o-jumbotron-small">
    <div class="container text-center">
        <h1>{{title}}</h1>
        <!-- <h3>{{subtitle}}</h3> -->
    </div>
</div>
<subnavigation></subnavigation>
<div class="container">
    <div class="row mt-25">
        <div class="col-xs-12 mb-25">
            <h4 class="qs mt-25">
                In an age of identity theft, cyberattacks, and ransomware, professionals with extensive experience in IT
                Audit & Security are more critical than ever.
                <br>
                <hr/>
                <br>
                One of Orion’s founding members started as an IT audit and
                security consultant and we have developed a pool of consultants with experience in a broad range of
                security frameworks such as<b> ISO 27000 series, NIST, COBIT, and PCI DSS</b>.
                <br>
                <hr/>
                <br>
                Our consultants carry certifications such as<b> CISA, CISSP, and CISM</b>.
                <br>
            </h4>
            <div class="col-xs-12 col-sm-5 o-card qs">
                We provide IT Audit & Security project solutions such as:
                <hr>
                <ul class="qs">
                    <li>IT Audit Co-Sourcing</li>
                    <li>Sarbanes-Oxley (SOX IT) Compliance</li>
                    <li>Security Program Development</li>
                    <li>Vendor Security Reviews</li>
                    <li>Disaster Recovery and Continuity Planning</li>
                    <li>Security Framework Implementation</li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-5 col-sm-offset-1 o-card" style="min-height: 240px;">
                <h4 class="qs">
                    Project Examples Include:
                    <hr>
                </h4>
                <ul class="qs">
                    <li>Global IT Security Program Implementation</li>
                    <li>IT Audit Co-Sourcing</li>
                    <li>SOX IT Integration</li>
                    <li>Vendor Security Review</li>
                </ul>
            </div>
        </div>
    </div>
</div>
