<link rel="stylesheet" type="text/css" href="http://fontawesome.io/assets/font-awesome/css/font-awesome.css">
<div class="o-jumbotron-small">
  <div class="container text-center">
    <h1>{{title}}</h1>
    <!-- <h3>{{subtitle}}</h3> -->
  </div>
</div>

<!-- Subnavigation -->
<subnavigation></subnavigation>

<!-- IT Audit Security Section -->
<div class="container">
  <!-- Row Begin -->
  <div class="row mt-50 mb-25">
    <div class="col-xs-12 col-sm-12">
      <h4 class="fs-20 qs text-center">
        In an age of identity theft, cyberattacks, and ransomware, professionals
        with extensive experience in IT Audit & Security are more critical than ever
      </h4>
    </div>
  </div>
  <!-- Row End -->
</div>

<div class="container-fluid">
  <!-- Row Begin -->
  <div class="row o-bg-l-grey ptrbl-60-30">
    <div class="col-sm-12 fs-20 qs text-center">
      One of Orion’s founding members started as an IT audit and security
      consultant and we have developed a pool of consultants with experience in
      a broad range of security frameworks such as<b> ISO 27000 series, NIST,
      COBIT, and PCI DSS</b>
    </div>
  </div>
  <!-- Row End -->
</div>

<div class="container">
  <div class="row mt-25">
    <div class="col-sm-12 qs">
      <h4 class="text-center">
        Our consultants carry certifications such as<b> CISA, CISSP, and CISM</b>
      </h4>

      <hr>

      <h4 class="text-center">
        We provide IT Audit & Security project solutions such as:

      </h4>
      <br/>
      <div class="row fs-16 af-three-section-container" id="it-third-color-section">
        <div class="col-sm-12 col-md-4 af-three-section af-three-section-left">
          <ul class="mb-0">
            <li>IT Audit Co-Sourcing</li>
            <li>Sarbanes-Oxley (SOX IT) Compliance</li>
          </ul>
        </div>
        <div class="col-sm-12 col-md-4 af-three-section af-three-section-middle">
          <ul class="mb-0">
            <li>Security Program Development</li>
            <li>Vendor Security Reviews</li>
          </ul>
        </div>
        <div class="col-sm-12 col-md-4 af-three-section af-three-section-right">
          <ul class="mb-0">
            <li>Disaster Recovery and Continuity Planning</li>
            <li>Security Framework Implementation</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- Row End -->
</div>

<div class="container qs o-grey-background">

  <div class="row mt-25 mb-25">
    <div class="col-xs-12 mb-25">

      <h3 class="qs">Project Examples Include:</h3>
      <button type="button" class="btn btn-primary btn-tabs">
        Global IT Security Program Implementation
      </button>
      <button type="button" class="btn btn-primary btn-tabs">
        IT Audit Co-Sourcing
      </button>
      <button type="button" class="btn btn-primary btn-tabs">
        SOX IT Integration
      </button>
      <button type="button" class="btn btn-primary btn-tabs">
        Vendor Security Review
      </button>

    </div>
  </div>
</div>

<!-- ************************************************************ -->
<div class="container">

  <div class="row mt-25 mb-25">
    <div class="col-xs-12 mb-25">

      <h3 class="qs">Project Examples Include:</h3>
      <ul class="nav nav-pills">
        <li class="active">
          <a data-toggle="tab" href="#global_IT">
            Global IT Security Program Implementation
          </a>
        </li>
        <li>
          <a data-toggle="tab" href="#IT_audit">
            IT Audit Co-Sourcing
          </a>
        </li>
        <li>
          <a data-toggle="tab" href="#sox_IT">
            SOX IT Integration
          </a>
        </li>
        <li>
          <a data-toggle="tab" href="#vendor_security">
            Vendor Security Review
          </a>
        </li>
      </ul>

      <div class="tab-content">

        <div id="global_IT" class="tab-pane fade in active o-card">
          <div class="o-tab-title">Global IT Security Program Implementation</div>
          <h4>CLIENT ISSUE</h4>
          <p>
            Our client, a multi-billion dollar global manufacturer, recognized the
            growing threats of IT hacking, ransomware, identity theft, and other security
            issues. The client’s executive management had an outside consulting firm do
            an independent assessment of the security program’s maturity and level and set
            a target to improve this rating within a year. Our client developed a long-term
            plan to meet this goal and reached out to Orion to bring in a highly
            experienced leader to drive the project forward.
          </p>
          <h4>ORION SOLUTION</h4>
          <p>
            Orion brought in a consultant with extensive experience in implementing global security
            programs, both from the policy and procedure standpoint and the actual automated tools
            used by top organizations. We reviewed the project and prioritized key areas, set up a
            reporting cadence with senior management, and implemented the strategic security vision.
          </p>
          <h4>CLIENT OUTCOMES</h4>
          <p>
            The project resulted in many accomplishments such as structuring the security team,
            documenting current state, creating policies, procedures and work instructions, identifying
            strategic and tactical direction given the global threat landscape, assessing the existing
            environment for potential risks, performing gap analyses and recommending corrective
            actions, and working in conjunction with software development teams to ensure SDLC best
            practices relating to secure code. At the end of the year, a follow up assessment from the
            outside consulting firm indicated the maturity level of the client’s security program had
            moved higher than the targets set by the executive team.
          </p>
        </div>

        <div id="IT_audit" class="tab-pane fade o-card">
          <div class="o-tab-title">IT Audit Co-Sourcing</div>
          <h4>CLIENT ISSUE</h4>
          <p>
            Our client, a global manufacturing and distribution company, was going through a major
            transition that involved selling a division and moving their world headquarters. These
            changes caused a number of employees to seek other employment rather than move,
            threatening the ability of the internal audit team to complete their schedule and meet their
            Sarbanes-Oxley (SOX) deadlines.
          </p>
          <h4>ORION SOLUTION</h4>
          <p>
            Orion brought in a team on internal audit and IT audit consultants on a co-sourced basis.
            The consultants carried CIA and CISA designations and each had more than 15 years of
            experience. The team had the experience to act as managers when needed and
            willingness to work as staff when direct work needed to be done. At one point Orion
            consultants represented half of the entire audit team.
          </p>
          <h4>CLIENT OUTCOMES</h4>
          <p>
            With Orion’s help the client completed the entire audit schedule and met all Sarbanes-
            Oxley (SOX) deadlines. Orion provided a stabilizing presence that allowed for a smooth
            transition to a new head of audit. In addition, we devised a flexible plan that allowed us to
            ramp our team up and down as needed to help the client control project costs.
          </p>
        </div>

        <div id="sox_IT" class="tab-pane fade o-card">
          <div class="o-tab-title">SOX IT Integration</div>
          <h4>CLIENT ISSUE</h4>
          <p>
            Our client, a publicly-traded manufacturing company, acquired one of their primary
            competitors. The competitor was privately held and did not have an existing Sarbanes-
            Oxley (SOX) program. Our client needed a team to document processes, assessment the
            control environment and determine the effectiveness on internal controls – all in time for the
            first year financial reporting deadlines.
          </p>
          <h4>ORION SOLUTION</h4>
          <p>
            Orion worked with the client to develop a project plan and provided a highly experienced
            team of consultants with extensive SOX and SOX IT experience. The team carried CIA,
            CPA and CISA designations and averaged more than 20 years of experience. We
            developed a multi-phased program that started with process and control documentation,
            initial evaluation of control design and effectiveness, and then moved into full testing of
            control effectiveness, reporting of deficiencies, and working with management to remediate
            and retest failed controls.
          </p>
          <h4>CLIENT OUTCOMES</h4>
          <p>
            Orion’s experienced team was so efficient that each phase was completed under budget.
            The client used the extra time to have our team work on other projects including an audit of
            a manufacturing site and review of controls surrounding an ERP implementation.
          </p>
        </div>

        <div id="vendor_security" class="tab-pane fade o-card">
          <div class="o-tab-title">Vendor Security Review</div>
          <h4>CLIENT ISSUE</h4>
          <p>
            Our client, a large regional bank, needed to do a comprehensive security and controls
            review across their vendor group.  The bank’s compliance organization was heavily tasked
            keeping up with all the regulatory changes and needed a firm to come in and develop a
            plan to get the vendor reviews current.
          </p>
          <h4>ORION SOLUTION</h4>
          <p>
            Orion provided an IT security consultant with extensive experience in the banking industry,
            and particular experience in IT vendor management. The consultant developed a multi-
            pronged approach for the project. The first phase included a review of SOC reports and
            determination of the impact of identified weaknesses.  For the second phase, our
            consultant went to a variety of hacker sites where information on hacked companies is
            shared.  The consultant learned that the majority of our client’s vendors had been hacked,
            and many of the hacked services had the potential to impact our client.  In many cases
            these vendors had not communicated the exposure.
          </p>
          <h4>CLIENT OUTCOMES</h4>
          <p>
            Orion completed the evaluation of each IT vendor and got the client current with all their
            key relationships. In addition, we built a report that ranked the vendors by the degree of
            exposure risk and the extent of identified hacking activity to allow management to make
            informed decisions about which vendors should remain and which required remediation to
            stay with the client.
          </p>
        </div>

      </div>
    </div>
  </div>

</div>
<!-- ************************************************************ -->
