<!-- main app container -->
<div>
    <navigation></navigation>
    <alert></alert>
    <div class="o-main-container">
        <router-outlet></router-outlet>
    </div>
</div>


<!-- credits -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-xs-4">© 2017 Orion Solutions Group. </div>
            <div class="col-xs-4">
              <img src="/assets/images/orion_logo.jpg" height="20" alt="">
            </div>
            <div class="col-xs-4">
<!--               <a routerLink="/Contact">Contact</a>
              |
              <a routerLink="/Open Positions" >Jobs</a> -->
            </div>
        </div>
    </div>
</footer>
