<!-- main app container -->
<div>
    <navigation></navigation>
    <alert></alert>
    <div class="o-main-container">
        <router-outlet></router-outlet>
    </div>
</div>


<!-- credits -->
<footer>
    <div class="container footer-container text-center">
        <div class="row">
            <div class="col-sm-4">
              <h4>Orion</h4>
              <a routerLink="/ourteam">Our Team</a>
              <br>
              <a routerLink="/contact">Contact Us</a>
              <br>
              <a routerLink="/clienttestimonials">Client Testimonials</a>
              <br>
              <a routerLink="/candidatetestimonials">Candidate Testimonials</a>
            </div>
            <div class="col-sm-4">
              <h4>Work With Us</h4>
              <a routerLink="/jobs">Jobs</a>
              <br>
              <a routerLink="/consulting">Consulting at Orion</a>
              <br>
              <a routerLink="/professionalrectestimonials">Professional Recruiting Testimonials</a>
            </div>
            <div class="col-sm-4">
              <h4>Our Work</h4>
              <a routerLink="/projectdelivery">Project Delivery</a>
              <br>
              <a routerLink="/contractstaffing">Contract Staffing</a>
              <br>
              <a routerLink="/professionalsearch">Professional Search</a>
            </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <a href="https://www.linkedin.com/company/orion-solutions-group" target="_blank">
              <i class="fab fa-linkedin"></i>
            </a>
            <a href="https://www.facebook.com/pages/Orion-Solutions-Group/501288863268519?ref=hl" target="_blank">
              <i class="fab fa-facebook square"></i>
            </a>
            <a href="https://twitter.com/orionsolutions1" target="_blank">
              <i class="fab fa-twitter square"></i>
            </a>
          </div>
          <div class="col-sm-12">
            Copyright © 2018 Orion Solutions Group. All Rights Reserved.
          </div>
        </div>
    </div>
</footer>
