<!-- main app container -->
<div>
    <navigation></navigation>
    <alert></alert>
    <div class="o-main-container">
        <router-outlet></router-outlet>
    </div>
</div>


<!-- credits -->
<!--<footer style="bottom: 0;position: fixed; width: 100%; text-align: center">-->
<footer>
    <p class="footer-links white">
<!--         <a [routerLink]="['/login']">Login</a> &nbsp; | &nbsp;
        <a [routerLink]="['/register']">Register</a> &nbsp; | &nbsp;
        <a [routerLink]="['/logout']">Logout</a> -->
        Copyright Orion Solutions Group, 2017
    </p>
</footer>
