/*GLOBAL FONTS*/
/*font-family: 'Quicksand', sans-serif;*/
/*font-family: 'Roboto', sans-serif;*/
/*font-family: 'Nunito', sans-serif;*/
/*font-family: 'Alegreya Sans', sans-serif;*/


a:hover,
a:active {
  text-decoration: none;
}
.o-main-container {
  margin: 50px 0 0 0;
  background-color: #fcfcfc;
  min-height: 100vh;
}
.o-header {
  height: 200px;
  color: inherit;
  background-color: #fff;
  background: url("/assets/images/green_blue.jpg") no-repeat 100% fixed;
  /* background-position-y: -440px; */
  background-position-y: -200px;
  background-size:cover;
/*  background: url("~/assets/images/architecture.jpg") no-repeat center top fixed;
  background-position-y: -590px;*/
}
.o-header h1{
  margin-top: 95px;
  font-family: "Quicksand";
  color: #ffffff;
}
.o-header .container{
  padding-top:0 !important;
}
.t-center{
  text-align: center;
}
.truncate {
  width: 250px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

footer {
  /*background-color: #f2f2f2;*/
  padding: 13px 25px;
  padding: 20px;
  font-size: 14px;
  text-align: center;
  color:black;
}
footer .container{
    padding:20px 0;
    border-top: 1px solid #ddd;
}
footer a{
  font-family: 'Roboto', sans-serif;
}
footer p{
  text-align:right;
  margin-bottom:1px;
}
.fs-16{font-size: 16px}
.fs-18{font-size: 18px}
.white{color:white !important}
.p-20{ padding: 20px;}
.p-40{ padding: 40px;}
.p-100{padding:100px 0;}
.pt-50{padding-top:50px;}
.pb-50{padding-bottom:50px;}
.pb-100{padding-bottom:100px;}
.pb-30{padding-bottom:30px;}
.pt-100{padding-top:100px;}
.ps-20{ padding-left: 20px; padding-right: 20px; }
.ps-40{ padding-left: 40px; padding-right: 40px;}
.m-25{margin:25px 0;}
.m-50{margin:50px 0;}
.mt-20{ margin-top:20px; }
.mt-25{ margin-top:25px; }
.mt-50{ margin-top:50px; }
.mb-25{ margin-bottom:25px; }
.mb-45{ margin-bottom:45px; }

/* Styles for Top Jumbotron Container */
.o-jumbotron {
    color: inherit;
    background-color: #fff;
    background: url(/assets/images/buildingblue.png) no-repeat center top fixed;
    /* background-position-y: -468px; */
    background-position-y: -80px;
    background-size: cover;
    height: 375px;
}
/* Styles for Top Jumbotron Container */
.o-jumbotron-small {
  color: inherit;
  background-color: #fff;
  background: url("/assets/images/green_blue.jpg") no-repeat center top fixed;
  background-position-y: -464px;
/*  background: url("~/assets/images/architecture.jpg") no-repeat center top fixed;
  background-position-y: -590px;*/
  height:200px;
}
.o-jumbotron .container {
  padding-top:110px;

}
.o-jumbotron h1, .o-jumbotron-small h1,
.o-jumbotron h3, .o-jumbotron-small h3  {
  font-family:'Nunito', sans-serif;
  /*text-shadow: black 0 0 2px;*/
  color: #ffffff;
  font-weight: 300;
  text-shadow: 1px 1px black;
}

.o-jumbotron h1, .o-jumbotron-small h1 {
  font-size:45px;
}

.o-jumbotron-small h1{
  margin-top: 90px;
}
.o-jumbotron h3, .o-jumbotron-small h3  {
  font-size: 20px;

}

.o-jumbotron > hr {
  border-top-color: #d5d5d5;
}
.container .o-jumbotron,
.container-fluid .o-jumbotron {
  padding-right: 15px;
  padding-left: 15px;
  border-radius: 6px;
}
.o-jumbotron .container {
  max-width: 100%;
}
@media (max-width: 768px) {
  .o-jumbotron h1, .o-jumbotron-small h1 {
    font-size:25px;
  }
  .o-jumbotron, .o-jumbotron-small {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .container .o-jumbotron,
  .container-fluid .o-jumbotron {
    padding-right: 60px;
    padding-left: 60px;
  }
}

@media (max-width: 768px) {
  .o-jumbotron .container h1, .o-jumbotron-small h1  {
    font-size: 34px;
  }
}

@media (max-width: 356px) {
  .o-jumbotron .container h1 {
    font-size: 28px;
  }
}

.o-jumbotron .container .row p {
  font-size: 20px;
}
/* Styles for Top Jumbotron Container END */

/* Third Container Styles */
.o-third-container {
  background-color: #fff;
}

.o-third-container div {
  padding: 10px 10px;
  border-radius: 5px;
  text-align: center;
}

.o-third-container h2 {
  color: #000;
}

@media (max-width: 790px) {
  .o-third-container h2 {
    font-size: 25px;
  }
}

@media (max-width: 767px) {
  .o-third-container h2 {
    font-size: 30px;
  }
}
.o-third-container i.fa {
  font-size: 50px;
  margin-top: 10px;
}
/* Third Container Styles END */

/* Custom Useful Styles */
.o-emphasize {
  font-weight: bold;
}

.card{
  box-shadow:0 0 3px;
  padding:15px;
  margin-top:30px;
  background-color: white;
  color:black;
  font-size: 16px;
  border-top: 5px solid #3b7096;
}
.qs{
  font-family: 'Quicksand', sans-serif;
}

/*GLOBAL FONTS*/
/*font-family: 'Quicksand', sans-serif;*/
/*font-family: 'Roboto', sans-serif;*/
/*font-family: 'Nunito', sans-serif;*/
/*font-family: 'Alegreya Sans', sans-serif;*/

.navbar-default .navbar-nav>li>a{
  font-family: 'Nunito', sans-serif;
  padding: 30px 15px;
}

.navbar-brand{
  margin-top: 11px;
}
a {
  cursor: pointer;
}
.al{
  font-family: 'Alegreya Sans', sans-serif;
}
.help-block {
  font-size: 12px;
}

.alert{
  margin-top: 80px;
}

.o-color-box {
  padding: 10px 20px;
  border-radius: 5px;
  margin-bottom: 20px;
}
.o-bg-l-grey {
  background-color: #eaeaea;
}

hr.o-hr-blue {
  border-top: 2px solid #185278;
  width: 200px;
}

/* Loader Styles */
.o-loader {
  margin: 80px auto;
  /*font-size: 25px;*/
  font-size: 20px;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: relative;
  text-indent: -9999em;
  -webkit-animation: load5 1.1s infinite ease;
  animation: load5 1.1s infinite ease;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
@-webkit-keyframes load5 {
  0%,
  100% {
    box-shadow: 0em -2.6em 0em 0em #0d3276, 1.8em -1.8em 0 0em rgba(13,50,118, 0.2), 2.5em 0em 0 0em rgba(13,50,118, 0.2), 1.75em 1.75em 0 0em rgba(13,50,118, 0.2), 0em 2.5em 0 0em rgba(13,50,118, 0.2), -1.8em 1.8em 0 0em rgba(13,50,118, 0.2), -2.6em 0em 0 0em rgba(13,50,118, 0.5), -1.8em -1.8em 0 0em rgba(13,50,118, 0.7);
  }
  12.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(13,50,118, 0.7), 1.8em -1.8em 0 0em #0d3276, 2.5em 0em 0 0em rgba(13,50,118, 0.2), 1.75em 1.75em 0 0em rgba(13,50,118, 0.2), 0em 2.5em 0 0em rgba(13,50,118, 0.2), -1.8em 1.8em 0 0em rgba(13,50,118, 0.2), -2.6em 0em 0 0em rgba(13,50,118, 0.2), -1.8em -1.8em 0 0em rgba(13,50,118, 0.5);
  }
  25% {
    box-shadow: 0em -2.6em 0em 0em rgba(13,50,118, 0.5), 1.8em -1.8em 0 0em rgba(13,50,118, 0.7), 2.5em 0em 0 0em #0d3276, 1.75em 1.75em 0 0em rgba(13,50,118, 0.2), 0em 2.5em 0 0em rgba(13,50,118, 0.2), -1.8em 1.8em 0 0em rgba(13,50,118, 0.2), -2.6em 0em 0 0em rgba(13,50,118, 0.2), -1.8em -1.8em 0 0em rgba(13,50,118, 0.2);
  }
  37.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(13,50,118, 0.2), 1.8em -1.8em 0 0em rgba(13,50,118, 0.5), 2.5em 0em 0 0em rgba(13,50,118, 0.7), 1.75em 1.75em 0 0em #0d3276, 0em 2.5em 0 0em rgba(13,50,118, 0.2), -1.8em 1.8em 0 0em rgba(13,50,118, 0.2), -2.6em 0em 0 0em rgba(13,50,118, 0.2), -1.8em -1.8em 0 0em rgba(13,50,118, 0.2);
  }
  50% {
    box-shadow: 0em -2.6em 0em 0em rgba(13,50,118, 0.2), 1.8em -1.8em 0 0em rgba(13,50,118, 0.2), 2.5em 0em 0 0em rgba(13,50,118, 0.5), 1.75em 1.75em 0 0em rgba(13,50,118, 0.7), 0em 2.5em 0 0em #0d3276, -1.8em 1.8em 0 0em rgba(13,50,118, 0.2), -2.6em 0em 0 0em rgba(13,50,118, 0.2), -1.8em -1.8em 0 0em rgba(13,50,118, 0.2);
  }
  62.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(13,50,118, 0.2), 1.8em -1.8em 0 0em rgba(13,50,118, 0.2), 2.5em 0em 0 0em rgba(13,50,118, 0.2), 1.75em 1.75em 0 0em rgba(13,50,118, 0.5), 0em 2.5em 0 0em rgba(13,50,118, 0.7), -1.8em 1.8em 0 0em #0d3276, -2.6em 0em 0 0em rgba(13,50,118, 0.2), -1.8em -1.8em 0 0em rgba(13,50,118, 0.2);
  }
  75% {
    box-shadow: 0em -2.6em 0em 0em rgba(13,50,118, 0.2), 1.8em -1.8em 0 0em rgba(13,50,118, 0.2), 2.5em 0em 0 0em rgba(13,50,118, 0.2), 1.75em 1.75em 0 0em rgba(13,50,118, 0.2), 0em 2.5em 0 0em rgba(13,50,118, 0.5), -1.8em 1.8em 0 0em rgba(13,50,118, 0.7), -2.6em 0em 0 0em #0d3276, -1.8em -1.8em 0 0em rgba(13,50,118, 0.2);
  }
  87.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(13,50,118, 0.2), 1.8em -1.8em 0 0em rgba(13,50,118, 0.2), 2.5em 0em 0 0em rgba(13,50,118, 0.2), 1.75em 1.75em 0 0em rgba(13,50,118, 0.2), 0em 2.5em 0 0em rgba(13,50,118, 0.2), -1.8em 1.8em 0 0em rgba(13,50,118, 0.5), -2.6em 0em 0 0em rgba(13,50,118, 0.7), -1.8em -1.8em 0 0em #0d3276;
  }
}
@keyframes load5 {
  0%,
  100% {
    box-shadow: 0em -2.6em 0em 0em #0d3276, 1.8em -1.8em 0 0em rgba(13,50,118, 0.2), 2.5em 0em 0 0em rgba(13,50,118, 0.2), 1.75em 1.75em 0 0em rgba(13,50,118, 0.2), 0em 2.5em 0 0em rgba(13,50,118, 0.2), -1.8em 1.8em 0 0em rgba(13,50,118, 0.2), -2.6em 0em 0 0em rgba(13,50,118, 0.5), -1.8em -1.8em 0 0em rgba(13,50,118, 0.7);
  }
  12.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(13,50,118, 0.7), 1.8em -1.8em 0 0em #0d3276, 2.5em 0em 0 0em rgba(13,50,118, 0.2), 1.75em 1.75em 0 0em rgba(13,50,118, 0.2), 0em 2.5em 0 0em rgba(13,50,118, 0.2), -1.8em 1.8em 0 0em rgba(13,50,118, 0.2), -2.6em 0em 0 0em rgba(13,50,118, 0.2), -1.8em -1.8em 0 0em rgba(13,50,118, 0.5);
  }
  25% {
    box-shadow: 0em -2.6em 0em 0em rgba(13,50,118, 0.5), 1.8em -1.8em 0 0em rgba(13,50,118, 0.7), 2.5em 0em 0 0em #0d3276, 1.75em 1.75em 0 0em rgba(13,50,118, 0.2), 0em 2.5em 0 0em rgba(13,50,118, 0.2), -1.8em 1.8em 0 0em rgba(13,50,118, 0.2), -2.6em 0em 0 0em rgba(13,50,118, 0.2), -1.8em -1.8em 0 0em rgba(13,50,118, 0.2);
  }
  37.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(13,50,118, 0.2), 1.8em -1.8em 0 0em rgba(13,50,118, 0.5), 2.5em 0em 0 0em rgba(13,50,118, 0.7), 1.75em 1.75em 0 0em #0d3276, 0em 2.5em 0 0em rgba(13,50,118, 0.2), -1.8em 1.8em 0 0em rgba(13,50,118, 0.2), -2.6em 0em 0 0em rgba(13,50,118, 0.2), -1.8em -1.8em 0 0em rgba(13,50,118, 0.2);
  }
  50% {
    box-shadow: 0em -2.6em 0em 0em rgba(13,50,118, 0.2), 1.8em -1.8em 0 0em rgba(13,50,118, 0.2), 2.5em 0em 0 0em rgba(13,50,118, 0.5), 1.75em 1.75em 0 0em rgba(13,50,118, 0.7), 0em 2.5em 0 0em #0d3276, -1.8em 1.8em 0 0em rgba(13,50,118, 0.2), -2.6em 0em 0 0em rgba(13,50,118, 0.2), -1.8em -1.8em 0 0em rgba(13,50,118, 0.2);
  }
  62.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(13,50,118, 0.2), 1.8em -1.8em 0 0em rgba(13,50,118, 0.2), 2.5em 0em 0 0em rgba(13,50,118, 0.2), 1.75em 1.75em 0 0em rgba(13,50,118, 0.5), 0em 2.5em 0 0em rgba(13,50,118, 0.7), -1.8em 1.8em 0 0em #0d3276, -2.6em 0em 0 0em rgba(13,50,118, 0.2), -1.8em -1.8em 0 0em rgba(13,50,118, 0.2);
  }
  75% {
    box-shadow: 0em -2.6em 0em 0em rgba(13,50,118, 0.2), 1.8em -1.8em 0 0em rgba(13,50,118, 0.2), 2.5em 0em 0 0em rgba(13,50,118, 0.2), 1.75em 1.75em 0 0em rgba(13,50,118, 0.2), 0em 2.5em 0 0em rgba(13,50,118, 0.5), -1.8em 1.8em 0 0em rgba(13,50,118, 0.7), -2.6em 0em 0 0em #0d3276, -1.8em -1.8em 0 0em rgba(13,50,118, 0.2);
  }
  87.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(13,50,118, 0.2), 1.8em -1.8em 0 0em rgba(13,50,118, 0.2), 2.5em 0em 0 0em rgba(13,50,118, 0.2), 1.75em 1.75em 0 0em rgba(13,50,118, 0.2), 0em 2.5em 0 0em rgba(13,50,118, 0.2), -1.8em 1.8em 0 0em rgba(13,50,118, 0.5), -2.6em 0em 0 0em rgba(13,50,118, 0.7), -1.8em -1.8em 0 0em #0d3276;
  }
}


/*ICONS*/
