/*GLOBAL FONTS*/
/*font-family: 'Quicksand', sans-serif;*/
/*font-family: 'Roboto', sans-serif;*/
/*font-family: 'Nunito', sans-serif;*/
/*font-family: 'Alegreya Sans', sans-serif;*/


*{
  font-family: 'Quicksand', sans-serif !important;
}
.job-innerhtml,
.job-innerhtml * {
  font-size: 14px !important;
}

#o-job-description > .row {
  margin-top:10px
}
.o-job-loader {
  height:500px;
  padding-top:50px;
  text-align: center
}
