<!-- Accounting Finance Header -->
<div class="o-jumbotron-small">
    <div class="container text-center">
        <h1>{{title}}</h1>
    </div>
</div>

<!-- Subnavigation -->
<subnavigation></subnavigation>

<!-- Accounting Finance Section -->
<div class="container o-accounting-finance-component">

  <div class="row mt-25">
    <h4 class="qs mt-25">
        The Accounting & Finance world continues to see change – whether companies are implementing new revenue
        recognition standards, converting to a new ERP system, or integrating groups that use IFRS and GAAP, the
        need for talented, experienced professionals has never been greater.
    </h4>
    <div class="col-xs-12 col-sm-12 o-card qs">
      <div>
        Orion has put together a team of highly accomplished professionals that include CPAs, controllers, CFOs,
        treasury managers, finance directors, tax managers and others.
        <br><br>
        We provide Accounting & Finance project solutions such as:
        <hr>
        <ul>
            <li>SEC Reporting</li>
            <li>Interim CFOs and Controllers</li>
            <li>Mergers and Acquisitions – Accounting Integration</li>
            <li>Financial Modeling</li>
            <li>Year End Audit Preparation</li>
            <li>Account Reconciliations</li>
            <li>Financial Planning & Analysis</li>
            <li>Process Implementation</li>
            <li>Pricing and Cost Analysis</li>
        </ul>
      </div>
    </div>
  </div>

  <hr>

  <div class="row mt-25 mb-25 qs">
    <h3 class="qs">Project Examples Include:</h3>
    <ul class="nav nav-pills">
      <li class="active">
        <a data-toggle="pill" href="#sec">
          SEC Reporting and Annual Report
        </a>
      </li>
      <li>
        <a data-toggle="pill" href="#accounting_integration">
          Accounting Integration
        </a>
      </li>
      <li>
        <a data-toggle="pill" href="#financial_modeling">
          Financial Modeling
        </a>
      </li>
    </ul>

    <div class="tab-content">

      <div id="sec" class="tab-pane fade in active card">
        <h3>CLIENT ISSUE</h3>
        <p>
          Our client, a global, publicly traded manufacturing company, lost their corporate controller
          late in the year. They needed to find a permanent replacement and during their search needed
          support to ensure the annual financial statements and SEC reporting was completed on time
          and at the highest level of quality
        </p>
        <h3>ORION SOLUTION</h3>
        <p>Orion brought in a specialized consultant with a CPA and more than twenty years of
            experience in
            public accounting, financial reporting, and technical accounting to lead the internal
            accounting
            team through the year-end process
        </p>
        <h3>CLIENT OUTCOMES</h3>
        <p>Orion’s consultant managed the process with great success and allowed the client to meet the
            reporting deadlines while satisfying all key constituents including the Board of Directors
            and the external auditors. The Orion consultant also helped our client in the selection of
            several accounting candidates for full-time roles. Our consultant helped transition the new
            corporate controller through the following year’s Q1 financials, and was asked back to provide
            technical support for Q2
        </p>
      </div>

      <div id="accounting_integration" class="tab-pane fade card">
        <h3>CLIENT ISSUE</h3>
        <p>
          Our client, a diversified, publicly traded manufacturing company, acquired a small business
          to add to the product portfolio. Our client wanted to convert the business to their ERP platform, but the
          accounting processes were very simple and in most cases not documented.
        </p>
        <h3>ORION SOLUTION</h3>
        <p>
          Orion brought in a specialized consultant with more than twenty-five years of experience in
          accounting and finance roles, including CFO. Our consultant developed an
          approach to document the accounting processes and get them to a level of
          sophistication that would work with the ERP system. The Orion
          consulting team grew to include day-to-day support for other areas
          like A/P while our primary consultant moved into the role of
          leading the migration to the main ERP system.
        </p>
        <h3>CLIENT OUTCOMES</h3>
        <p>
          Orion’s consultant managed the process with great success and allowed the client to meet the
          reporting deadlines while satisfying all key constituents including the Board of Directors and the
          external auditors. The Orion consultant also helped our client in the
          selection of several accounting candidates for full-time roles. Our
          consultant helped transition the new corporate controller through the
          following year’s Q1 financials, and was asked back to provide technical support for Q2
        </p>
      </div>

      <div id="financial_modeling" class="tab-pane fade card">
        <h3>CLIENT ISSUE</h3>
        <p>
          Our client is a not-for-profit entity that provides membership based services for a downtown
          business district. The client was looking to add significant services to the portfolio and needed to
          develop a pricing model that was fair to the members and provided sufficient revenue to support the
          new services.
        </p>
        <h3>ORION SOLUTION</h3>
        <p>
          Orion brought in a consultant with strong data analysis skills and a track record of
          providing insight on challenging business issues. The consultant
          developed a spectrum of assessment scenarios to support the annual budget.
        </p>
        <h3>CLIENT OUTCOMES</h3>
        <p>
          Orion’s consultant created a technical business plan and summary that was presented to the
          City Council and corporate stakeholders.
        </p>
      </div>

    </div>

  </div>
</div>
