

.nav-pills > li > a {
  margin: 5px;
  background-color: #f3f3f3;
}

.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
  color: #fff;
  background-color: #337ab7;
}

.af-three-section {
  height: 120px;
  padding: 15px;
}

.af-three-section.af-three-section-left {
  background-color: #83a7c1;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
}

.af-three-section.af-three-section-middle {
  background-color: #83c1c1;
}

.af-three-section.af-three-section-right {
  background-color: #98d2b7;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
}

@media (max-width: 991px) {
  .af-three-section {
    height: auto;
    padding: 0px 15px;
  }

  .af-three-section.af-three-section-left {
    background-color: #83a7c1;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    padding-top:15px;
  }

  .af-three-section.af-three-section-middle {
    background-color: #83a7c1;
  }

  .af-three-section.af-three-section-right {
    background-color: #83a7c1;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
    padding-bottom: 15px
  }
}

@media (max-width: 767px) {
  .af-three-section.af-three-section-left {
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
  }

  .af-three-section.af-three-section-right {
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
  }
}
