<!-- Subnavigation -->
<subnavigation></subnavigation>

<!-- Accounting Finance Header -->
<div class="o-jumbotron-small">
    <div class="container text-center">
        <h1>{{title}}<div class="o-underline"></div></h1>
    </div>
</div>


<!-- Accounting Finance Section -->
<div class="container o-accounting-finance-component qs mt-50">

  <!-- Row Begin -->
  <div class="row mt-50 mb-25">
    <div class="col-xs-12 col-sm-12">
      <h4 class="fs-20 text-center lh-40">
        The Accounting & Finance world continues to see change – whether companies are implementing new revenue
        recognition standards, converting to a new ERP system, or integrating groups that use IFRS and GAAP, the
        need for talented, experienced professionals has never been greater
      </h4>
    </div>
  </div>
  <!-- Row End -->
</div>

<div class="container-fluid qs mt-50">
  <!-- Row Begin -->
  <div class="row o-bg-light-blue ptrbl-60-30">
    <div class="col-sm-12 fs-20 text-center">
      Orion has put together a team of highly accomplished professionals that
      include CPAs, controllers, CFOs, treasury managers, finance directors, tax
      managers and others
    </div>
  </div>
  <!-- Row End -->
</div>

<div class="container qs mt-50">
  <!-- Row Begin -->
  <div class="row mt-25">
    <div class="col-sm-12">
      <h4 class="text-center">
        <strong>We provide Accounting & Finance project solutions such as:</strong>
      </h4>

      <hr>

      <!-- Third Section Begin -->
      <div class="row fs-16 af-three-section-container">
        <div class="col-sm-12 col-md-4 af-three-section af-three-section-left">
          <ul class="mb-0">
            <li>Payroll Support</li>
            <li>SEC Reporting</li>
            <li>Interim CFOs and Controllers</li>
            <li>Mergers and Acquisitions – Accounting Integration</li>
          </ul>
        </div>
        <div class="col-sm-12 col-md-4 af-three-section af-three-section-middle">
          <ul class="mb-0">
            <li>Financial Modeling</li>
            <li>Year End Audit Preparation</li>
            <li>Account Reconciliations</li>
            <br/><br/>
          </ul>
        </div>
        <div class="col-sm-12 col-md-4 af-three-section af-three-section-right">
          <ul class="mb-0">
            <li>Financial Planning & Analysis</li>
            <li>Process Implementation</li>
            <li>Pricing and Cost Analysis</li>
            <br/><br/>
          </ul>
        </div>
      </div>
      <!-- Third Section End -->

    </div>
  </div>
  <!-- Row End -->

  <!-- Row Begin -->
  <div class="row mt-25 mb-25">
    <div class="col-xs-12">
      <h3>Project Examples Include:</h3>
      <ul class="nav nav-pills">
        <li *ngFor="let x of examples; let first = first" [ngClass]="{ active: first }">
          <a data-toggle="pill" [attr.href]="'#' + x.id">
            {{x.title}}
          </a>
        </li>
      </ul>

      <div class="tab-content">

        <div *ngFor="let x of examples; let first = first" class="tab-pane fade o-card" [attr.id]="x.id"  [ngClass]="{ active: first, in: first }">
          <div class="o-tab-title">{{x.title}}</div>
          <h4>CLIENT ISSUE</h4>
          <p>{{x.clientIssue}}</p>
          <br/>
          <h4>ORION SOLUTION</h4>
          <p>{{x.orionSolution}}</p>
          <br/>
          <h4>CLIENT OUTCOMES</h4>
          <p>{{x.clientOutcomes}}</p>
        </div>

      </div>
    </div>
  </div>
  <!-- Row End -->

</div>
