<div class="o-jumbotron-small">
    <div class="container text-center">
        <h1>{{title}}</h1>
        <!-- <h3>{{subtitle}}</h3> -->
    </div>
</div>

<subnavigation></subnavigation>

<div class="t-center mt-25 mb-25" style="font-size: 20px;">
  <a routerLink="/professionalsearch" ><button class="btn-light btn btn-default btn-lg">Professional Search</button> </a>&nbsp;  &nbsp;
  <a routerLink="/contingentsearch" ><button class="btn-light btn btn-default btn-lg">Contingent Search </button></a>&nbsp;  &nbsp;
  <a routerLink="/retainedsearch" ><button class="btn-light btn btn-default btn-lg">Retained Search</button> </a>
</div>

<div class="container o-main-container-small">
    <div class="row">
        <div class="col-md-10 col-md-offset-2 qs">
          <p style="font-family: 'Nunito';font-size: 20px;text-align: center;">
            Orion has a three-tiered structure for contingent fee arrangements.
            The more we work in partnership with the client, the more dedicated
            attention the role receives and the lower the cost to the client.
          </p>
        </div>
     <div class="col-md-8 col-md-offset-2 qs">

          <h3>Engagement Fee Search</h3>
          <p class="o-card">
            Orion will work with the client to establish a target salary and
            overall fee for the engagement. A portion of the fee is due upon
            engagement and allows us to fund our efforts in research, social
            media outreach, etc. The client gets many of the benefits of a
            retained search while still providing a low upfront cost. The client
            only pays the remainder of the fee upon the successful placement of
            a candidate. Orion offers this arrangement at an 18% discount from
            the standard contingent fee.
          </p>
          <h3>Exclusive Search</h3>
          <p class="o-card">
            This model is used when clients prefer their fee to be completely
            contingent, but they work exclusively with Orion. This version
            allows us to provide the benefits of the engagement fee search but
            allows the client to pay no fees until a candidate is hired. Orion
            offers this arrangement at a 10% discount from the standard
            contingent fee.
          </p>
          <h3>Standard Search</h3>
          <p class="o-card">
            This is the typical, multi-firm contingent arrangement. The fee is
            highest in this scenario. Orion will engage in these arrangements
            when there is a strong relationship with the client and an ability
            to work with the hiring manager.
          </p>
        </div>
    </div>
</div>
