<link rel="stylesheet" type="text/css" href="http://fontawesome.io/assets/font-awesome/css/font-awesome.css">
<div class="o-jumbotron-small">
    <div class="container text-center">
        <h1>{{title}}</h1>
        <!-- <h3>{{subtitle}}</h3> -->
    </div>
</div>
<subnavigation></subnavigation>
<div class="t-center mt-25" style="font-size: 20px;"> 
  <a routerLink="/professionalsearch" >Professional Search </a>&nbsp; | &nbsp;          
  <a routerLink="/contingentsearch" >Contingent Search </a>&nbsp; | &nbsp; 
  <a routerLink="/retainedsearch" >Retained Search </a> 
</div>
<div class="container o-main-container">
    <div class="row">
        <div class="col-md-8 qs col-md-offset-2 fs-18">
          <h2>{{title}}</h2>
          <hr/>
          <div>
            Orion has changed the retained search model to provide a version
            that allows clients exceptional service while only charging for
            success. We determine a fixed fee for the engagement that is split
            into three portions:
            <br/><br/>
            <ul>
              <li>Engagement Fee</li>
              <li>Candidate Pool Established</li>
              <li>Candidate Hired</li>
            </ul>
            <br/><br/>
          </div>
          <p>
            This model allows our clients to control the majority of the fees
            they pay – no more monthly charges without seeing results.
          </p>
          <p>
            To learn more about Orion’s retained search approach, please
            <a [routerLink]="['/contact']">contact us</a>.
          </p>
        </div>
    </div>
</div>
