
<subnavigation></subnavigation>

<div class="o-jumbotron-small">
    <div class="container text-center">
        <h1>{{title}}<div class="o-underline"></div></h1>
        <!-- <h3>{{subtitle}}</h3> -->
    </div>
</div>


<div class="t-center mt-25 mb-25 qs" style="font-size: 20px;">
  <a class="mb-10 display-inline-block" routerLink="/professional-search">
    <button class="btn-light btn btn-default btn-lg">Professional Search</button>
  </a>
  <a class="mb-10 display-inline-block" routerLink="/contingent-search">
    <button class="btn-light btn btn-default btn-lg">Contingent Search</button>
  </a>
  <a class="mb-10 display-inline-block" routerLink="/retained-search">
    <button class="btn-light btn btn-default btn-lg">Retained Search</button>
  </a>
</div>

<div class="container mb-25">
    <div class="row">
        <div class="col-xs-12 qs fs-18">
          <p class="fs-20 t-center">
            This model allows our clients to control the majority of the fees
            they pay – no more monthly charges without seeing results.
          </p>
        </div>
        <div class="col-xs-12 col-sm-12 qs fs-18">
          <div class="o-card">
            Orion has changed the retained search model to provide a version
            that allows clients exceptional service while only charging for
            success. We determine a fixed fee for the engagement that is split
            into three portions:
            <br/><br/>
            <ul style="list-style-type: none">
              <li>1.) Engagement Fee</li>
              <li>2.) Candidate Pool Established</li>
              <li>3.) Candidate Hired</li>
            </ul>
            <br/>
          </div>
        </div>
    </div>
</div>


<div class="container qs">

    <div class="row mb-25 p-20">
        <h4 class="qs text-center">
          To learn more about Orion’s retained search approach, please
          <a [routerLink]="['/contact']">contact us</a>
        </h4>
    </div>

</div>
