<!-- Project Delivery Landing Page
   - Finished inserting content
  -->
<link rel="stylesheet" type="text/css" href="http://fontawesome.io/assets/font-awesome/css/font-awesome.css">
<div class="o-jumbotron">
    <div class="container text-center">
        <h1>{{title}}</h1>
        <!-- <h3>{{subtitle}}</h3> -->
    </div>
</div>
<subnavigation></subnavigation>
<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <p>
            Orion’s leadership team comes with decades of experience leading
            projects, from relatively small projects to multiyear programs that
            involve more than a hundred people across several countries.
          </p>
          <p>
            The key to a successful project is to develop a deep understanding
            of the client’s desired results and any challenges that could arise,
            and then put together a team with the right experience and
            personality to get it done.
          </p>
          <p>
            Orion provides a broad range of project solutions – the core
            strength we bring to these projects is our ability to deliver the
            right team.
          </p>
          <div>
            Primary areas for Orion Project Delivery include:
            <ul>
              <li>Accounting &amp; Finance</li>
              <li>Audit, Risk &amp; Compliance</li>
              <li>IT Audit &amp; Security</li>
              <li>Human Resources</li>
            </ul>
          </div>
          <p>
            If you are interested in joining Orion as a project-based
            consultant, please click
            <a [routerLink]="['/consulting']">here</a>
            to learn
            more about us. (will link to “Consulting at Orion” page)
          </p>
        </div>
    </div>
</div>
