<!-- Project Delivery Header -->
<div class="o-jumbotron-small">
    <div class="container text-center">
        <h1>{{title}}</h1>
        <!-- <h3>{{subtitle}}</h3> -->
    </div>
</div>

<!-- Subnavigation -->
<subnavigation></subnavigation>

<!-- Project Delivery Container Begin -->
<div class="container-fluid mb-25">

  <!-- Button Row Begin-->
  <div class="row ptrbl-60-30">
    <div class="col-md-12">
      <div class="text-center pt-20 o-button-container">
        <a class="mt-10" routerLink='/accountingfinance'>
          <button type="button" class="btn btn-primary btn-lg">
            Accounting &amp; Finance
          </button>
        </a>
        <a class="mt-10" routerLink='/auditrisk'>
          <button type="button" class="btn btn-primary btn-lg">
            Audit, Risk &amp; Compliance
          </button>
        </a>
        <a class="mt-10" routerLink='/itauditsecurity'>
          <button type="button" class="btn btn-primary btn-lg">
            IT Audit &amp; Security
          </button>
        </a>
        <a class="mt-10" routerLink='/humanresources'>
          <button type="button" class="btn btn-primary btn-lg">
            Human Resources
          </button>
        </a>
      </div>
    </div>
  </div>
  <!-- Button Row End -->

  <!-- Row Begin -->
  <div class="row o-bg-l-grey ptrbl-60-30">
    <div class="hidden-xs col-sm-1">
      <img class="animated-icon" height="50" src="https://image.flaticon.com/icons/svg/251/251106.svg"/>
    </div>
    <div class="col-sm-11 fs-20 qs text-center">
      Orion’s leadership team comes with decades of experience leading
      projects, from relatively small projects to multi-year programs that
      involve more than a hundred people across several countries
    </div>
  </div>
  <!-- Row End -->

  <!-- Row Begin -->
  <div class="row pt-50 ps-30 mb-45">
    <div class="col-xs-12 qs fs-18">
      <div class="o-card-plain o-extra-padding" style="box-shadow: none">
        <div>
          The key to a successful project is to develop a deep understanding of the
          client’s desired results and any challenges that could arise, and then put
          together a team with the right experience and personality to get it done
        </div>
      </div>
    </div>
  </div>
  <!-- Row End -->

  <!-- Row Begin -->
  <div class="row ps-30">
    <div class="col-md-12 fs-18 qs mt-25 text-center">
      <h3>
        Orion provides a broad range of project solutions – the core strength we
        bring to these projects is our ability to deliver the right team
      </h3>
    </div>
  </div>
  <!-- Row End -->

  <!-- Row Begin -->
  <div class="row ps-30">
    <div class="col-sm-6">
      <div class="o-card qs pd-min-h-155">
        Primary areas for Orion Project Delivery include:
        <ul>
          <li>Accounting &amp; Finance</li>
          <li>Audit, Risk &amp; Compliance</li>
          <li>IT Audit &amp; Security</li>
          <li>Human Resources</li>
        </ul>
      </div>
    </div>

    <div class="col-sm-6">
      <p class="o-card qs pd-min-h-155 pt-25">
        If you are interested in joining Orion as a project-based consultant,
        please click
        <a routerLink='/consulting'>here</a> to learn more about us.
      </p>
    </div>
  </div>
  <!-- Row End -->

</div>
<!-- Project Delivery Container Eng -->
