<!-- Project Delivery Landing Page
   - Finished inserting content
  -->
<link rel="stylesheet" type="text/css" href="http://fontawesome.io/assets/font-awesome/css/font-awesome.css">
<div class="o-jumbotron-small">
    <div class="container text-center">
        <h1>{{title}}</h1>
        <!-- <h3>{{subtitle}}</h3> -->
    </div>
</div>
<subnavigation></subnavigation>
<div class="container">
    <div class="row">
        <div class="col-xs-12 mt-50">
          <div class="hidden-xs col-sm-1">
            <img class="animated-icon" height="50" src="https://image.flaticon.com/icons/svg/251/251106.svg"/>
          </div>

          <div class="col-sm-11 fs-20 qs text-center">
            Orion’s leadership team comes with decades of experience leading
            projects, from relatively small projects to multiyear programs that
            involve more than a hundred people across several countries.
          </div>
        </div>
          <div class="col-xs-12 o-card qs fs-18 p-20">
              The key to a successful project is to develop a deep understanding
              of the client’s desired results and any challenges that could arise,
              and then put together a team with the right experience and
              personality to get it done.
          </div>
            <div class=" col-xs-12 fs-18 qs mt-50">
              Orion provides a broad range of project solutions
              <br/>
              &nbsp; &nbsp; – the core
              strength we bring to these projects is our ability to deliver the
              right team.
            </div>
        </div>
        <div class="row">
         <div class="col-xs-12 col-sm-6">
            <div class="o-card qs min-h-155">
              Primary areas for Orion Project Delivery include:
              <ul>
                <li>Accounting &amp; Finance</li>
                <li>Audit, Risk &amp; Compliance</li>
                <li>IT Audit &amp; Security</li>
                <li>Human Resources</li>
              </ul> 
            </div>
          </div>
          <div class="col-xs-12 col-sm-6">
            <p class="o-card qs min-h-155">
              If you are interested in joining Orion as a project-based
              consultant, please click
              <a [routerLink]="['/consulting']">here</a>
              to learn
              more about us. (will link to “Consulting at Orion” page)
            </p>
          </div>
        </div>
</div>
