<!-- Navbar -->
<nav class="navbar navbar-fixed-top o-navbar-orion navbar-default bg-inverse">
    <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand"><img height="33" src="../../assets/images/orion_logo.png" alt="Orion"></a>
        </div>
        <div class="collapse navbar-collapse nav-collapse" id="myNavbar">
          <!-- Main Navigation -->
          <ul class="nav navbar-nav navbar-right" routerLinkActive="active">
              <li data-toggle="collapse" class="nav-item navR-border nav-icon" data-toggle="collapse" data-target=".nav-collapse.in">
                <a routerLink="home" class="nav-link">{{home}}</a>
              </li>
              <!-- <li class="nav-item"><a class="nav-link" routerLink="about">About</a></li> -->
              <li data-toggle="collapse" data-target=".nav-collapse.in" class="nav-item navR-border nav-icon">
                <a routerLink="jobs" class="nav-link">Jobs</a>
              </li>
              <li data-toggle="collapse" data-target=".nav-collapse.in" class="navR-border nav-icon">
                <a routerLink="contact" class="nav-link">Contact Us</a>
              </li>

              <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown">
                  {{about}} <span class="caret"></span>
                </a>

                <ul class="dropdown-menu">
                  <li data-toggle="collapse" data-target=".nav-collapse.in" class="navR-border nav-icon">
                    <a routerLink="ourteam" class="nav-link">{{ourteam}}</a>
                  </li>
                  <li data-toggle="collapse" data-target=".nav-collapse.in" class="navR-border nav-icon">
                    <a routerLink="vision" class="nav-link">{{vision}}</a>
                  </li>
                  <li data-toggle="collapse" data-target=".nav-collapse.in" class="navR-border nav-icon">
                    <a routerLink="history" class="nav-link">{{history}}</a>
                  </li>

                </ul>
              </li>
          </ul>
          <!-- Main Navigation END -->

          <!-- Subnavigation -->
          <ul class="nav navbar-nav subnav-mobile">

              <!-- Careers Dropdown -->
              <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                    Careers <span class="caret"></span>
                  </a>
                  <ul class="dropdown-menu">
                      <li data-toggle="collapse" data-target=".nav-collapse.in" class="navR-border nav-icon">
                        <a routerLink="consulting" class="nav-link">Consulting at Orion</a>
                      </li>
                      <li data-toggle="collapse" data-target=".nav-collapse.in" class="navR-border nav-icon">
                        <a routerLink="professionalrecruiting" class="nav-link">Orion as your Recruiter</a>
                      </li>
                      <li data-toggle="collapse" data-target=".nav-collapse.in" class="navR-border nav-icon">
                        <a routerLink="jobs" class="nav-link">Open Positions</a>
                      </li>
                  </ul>
              </li>
              <!-- Careers Dropdown END -->

              <!-- Project Delivery Dropdown -->
              <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                    Project Delivery <span class="caret"></span>
                  </a>
                  <ul class="dropdown-menu">
                      <li data-toggle="collapse" data-target=".nav-collapse.in" class="navR-border nav-icon">
                        <a routerLink="projectdelivery" class="nav-link">Landing Page</a>
                      </li>
                      <li data-toggle="collapse" data-target=".nav-collapse.in" class="navR-border nav-icon">
                        <a routerLink="accountingfinance" class="nav-link">Accounting &amp; Finance</a>
                      </li>
                      <li data-toggle="collapse" data-target=".nav-collapse.in" class="navR-border nav-icon">
                        <a routerLink="auditrisk" class="nav-link">Audit, Risk &amp; Compliance</a>
                      </li>
                      <li data-toggle="collapse" data-target=".nav-collapse.in" class="navR-border nav-icon">
                        <a routerLink="itauditsecurity" class="nav-link">IT Audit &amp; Security</a>
                      </li>
                      <li data-toggle="collapse" data-target=".nav-collapse.in" class="navR-border nav-icon">
                        <a routerLink="humanresources" class="nav-link">Human Resources</a>
                      </li>
                  </ul>
              </li>
              <!-- Project Delivery Dropdown END -->

              <!-- Contract Staffing -->
              <li data-toggle="collapse" data-target=".nav-collapse.in" class="navR-border nav-icon">
                  <a routerLink="consulting" class="nav-link">
                    Contract Staffing
                  </a>
              </li>

              <!-- Professional Recruiting Dropdown -->
              <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                    Professional Recruiting <span class="caret"></span>
                  </a>
                  <ul class="dropdown-menu">
                      <li data-toggle="collapse" data-target=".nav-collapse.in" class="navR-border nav-icon">
                        <a routerLink="professionalsearch" class="nav-link">Professional Search</a>
                      </li>
                      <li data-toggle="collapse" data-target=".nav-collapse.in" class="navR-border nav-icon">
                        <a routerLink="retainedsearch" class="nav-link">Retained Search</a>
                      </li>
                      <li data-toggle="collapse" data-target=".nav-collapse.in" class="navR-border nav-icon">
                        <a routerLink="contingentsearch" class="nav-link">Contingent Search</a>
                      </li>
                  </ul>
              </li>
              <!-- Professional Recruiting Dropdown END -->

              <!-- Testimonials -->
              <!-- <li data-toggle="collapse" data-target=".nav-collapse.in" class="navR-border nav-icon">
                  <a routerLink="consulting" class="nav-link">Testimonials</a>
              </li> -->
          </ul>
          <!-- Subnavigation END -->

        </div>
    </div>
</nav>
