/* Orion
 * Styles for Our Team Component
 */

.contact-card {
  padding: 40px 20px;
}
.contact-card .o-card {
  float: left
}
@media (min-width: 768px) {
  /* .contact-card .col-sm-1, .contact-card .col-sm-10, .contact-card .col-sm-11,
  .contact-card .col-sm-12, .contact-card .col-sm-2, .contact-card .col-sm-3,
  .contact-card .col-sm-4, .contact-card .col-sm-5, .contact-card .col-sm-6,
  .contact-card .col-sm-7, .contact-card .col-sm-8, .contact-card .col-sm-9 {
    float: none;
  } */
}
.contact-card .col-md-3 img {
  height: 240px;
}
.contact-card .col-md-3 p {
  font-size: 14px;
}

@media (max-width: 1200px ) {
  .contact-card .col-md-3 img {
    height: auto;
    width: 100%;
    margin-top: 25px;
  }
  .contact-card .col-md-3 p {
    font-size: 12px;
  }
}

@media (max-width: 991px ) {
  .contact-card .col-md-3 {
    text-align: center
  }
  .contact-card .col-md-3 img {
    width: auto;
    height: 240px;
    margin-top: 0;
  }
  .contact-card .col-md-9 h3 {
    text-align: center;
  }
  .contact-card .col-md-3 p {
    font-size: 16px;
  }
}
