#o-ourteam-container{
  margin-top: 50px;
  font-family: 'Roboto', sans-serif;
}

/* Styles for the Team Info Section */
#o-ourteam-container .o-team-detail {
  padding: 0 10px 10px 10px;
  margin-bottom: 10px;
}
