<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
<!-- OurTeam Header -->
<div class="o-header">
  <div class="container text-center">
    <h1>Our Team</h1>
  </div>
</div>

<!-- Subnavigation -->
<subnavigation></subnavigation>


<!-- Our Team Carousel -->
<div class="container-fluid mt-50 ps-20">
  <div id="our-team-carousel" class="nav nav-pills">
    <div id="o-carousel-scrolls" class="scrolls">
      <div class="carousel-element">
        <a data-toggle="pill" href="#krisflynn">
          <img alt="Kris Flynn" src="../assets/images/kris_profile.jpg" height="240"
          class="img-rounded">
          <span>
            <br/>
            Kris Flynn
            <br/>
            Managing Partner and Co-Founder
          </span>
        </a>
      </div>

      <div class="carousel-element">
        <a data-toggle="pill" href="#daveflynn">
          <img alt="Dave Flynn" src="../assets/images/dave_profile.jpg" height="240"
          class="img-rounded">
          <span>
            <br/>
            Dave Flynn
            <br/>
            Partner and Co-Founder
          </span>
        </a>
      </div>

      <div class="carousel-element">
        <a data-toggle="pill" href="#kevinsuksi">
          <img alt="Kevin Suksi" src="../assets/images/kevin_profile.jpg" height="240"
          class="img-rounded">
          <span>
            <br/>
            Kevin Suksi
            <br/>
            Partner and Co-Founder
          </span>
        </a>
      </div>

      <div class="carousel-element">
        <a data-toggle="pill" href="#nicoleheger">
          <img alt="Nicole Heger" src="../assets/images/nicole_profile.jpg" height="240"
          class="img-rounded">
          <span>
            <br/>
            Nicole Heger
            <br/>
            Human Resources Manager/Recruiter
          </span>
        </a>
      </div>

    </div>
  </div>
</div>

<div id="our-team-carousel-info" class="container">

  <!-- Nav Sections BEGIN -->
  <div class="tab-content o-width-1050">

    <div id="krisflynn" class="tab-pane fade in o-card active">
      <h3>
        Kris Flynn
        <br/>
        Managing Partner and Co-Founder
      </h3>
      <p>
        {{summaryKrisFlynn3}}
      </p>
      <p>
        <i class="fa fa-arrow-circle-right" aria-hidden="true"></i> <a href="https://www.linkedin.com/in/kris-flynn-26418162/" target="_blank">Connect to Kris on LinkedIn</a>
        <br>
        <i class="fa fa-envelope" aria-hidden="true"></i> <a href="mailto:kflynn@orionsolutionsgroup.net">kflynn@orionsolutionsgroup.net</a>
      </p>
    </div>

    <div id="daveflynn" class="tab-pane fade o-card">
      <h3>
        Dave Flynn
        <br/>
        Partner and Co-Founder
      </h3>
      <p>
        {{summaryDaveFlynn4}}
      </p>
      <p>
        <i class="fa fa-arrow-circle-right" aria-hidden="true"></i> <a href="http://www.linkedin.com/pub/dave-flynn/0/73a/73b" target="_blank">Connect to Dave on LinkedIn</a>
        <br>
        <i class="fa fa-envelope" aria-hidden="true"></i> <a href="mailto:dflynn@orionsolutionsgroup.net">dflynn@orionsolutionsgroup.net</a>
      </p>
    </div>

    <div id="kevinsuksi" class="tab-pane fade o-card">
      <h3>
        Kevin Suksi
        <br/>
        Partner and Co-Founder
      </h3>
      <p>
        {{summaryKevinSuksi3}}
      </p>
      <p>
        <i class="fa fa-arrow-circle-right" aria-hidden="true"></i> <a href="https://www.linkedin.com/in/kevinsuksi/" target="_blank">Connect to Kevin on LinkedIn</a>
        <br>
        <i class="fa fa-envelope" aria-hidden="true"></i> <a href="mailto:ksuksi@orionsolutionsgroup.net">ksuksi@orionsolutionsgroup.net</a>
      </p>
    </div>

    <div id="nicoleheger" class="tab-pane fade o-card">
      <h3>
        Nicole Heger
        <br/>
        HR Manager and Recruiter
      </h3>
      <p>
        {{summaryNicoleHeger3}}
      </p>
      <p>
        <i class="fa fa-arrow-circle-right" aria-hidden="true"></i> <a href="https://www.linkedin.com/in/nicole-heger-phr-a8b45b4/" target="_blank">Connect to Nicole on LinkedIn</a>
        <br>
        <i class="fa fa-envelope" aria-hidden="true"></i> <a href="mailto:nheger@orionsolutionsgroup.net">nheger@orionsolutionsgroup.net</a>
      </p>
    </div>

  </div>
  <!-- Nav Sections END -->

</div>
