<!-- Home Header -->
<div class="o-jumbotron">
    <div class="container text-center">
        <h1 class="">
          <span class="o-home-header-grey-bg qs">Orion Solutions Group</span>
        </h1>
        <h3>Professional Services Done Right</h3>
        <div>
            <!--<a href="#o-scroll-one" id="o-arrow-down" (click)="onAnchorClick()">-->
            <!--<img src="../../assets/images/white-arrow-down.png" height="50" style="margin-top:90px">-->
            <!--</a>-->
        </div>
    </div>
</div>

<!-- Subnavigation -->
<subnavigation></subnavigation>

<div style="background: #fbfcfd;" class="qs">
    <div id="o-scroll-one" class="container o-home-container">
        <h3 class="text-center">
            Orion Solutions Group serves as a single source for all of our clients’
            human capital needs
        </h3>
        <div class="row">
          <a routerLink="/project-delivery" >
            <div class="o-consulting col-sm-12 col-md-4 col-lg-4 how-col how-col-3">
              <img class="animated-icon" src="https://image.flaticon.com/icons/svg/251/251106.svg"/>
              <h3 class="text-center">Project Delivery</h3>
              <p class="text-center">
                  End to End Solutions Across Disciplines<br>
              </p>
            </div>
          </a>
          <a routerLink="/contract-staffing" >
            <div class="o-contract-staffing col-sm-12 col-md-4 col-lg-4 how-col how-col-2">
              <img class="animated-icon-2" src="../../assets/images/team-svg.svg"/>
              <h3 class="text-center">Contract Staffing</h3>
              <p class="text-center">
                Just in Time Professionals
              </p>
          </div>
          </a>
          <a routerLink="/professional-search" >
            <div class="o-professional-search col-sm-12 col-md-4 col-lg-4 how-col how-col-1">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" class="animated-icon o-c-search">
                <defs>
                    <clipPath id="search_m">
                        <circle cx="40" cy="40" r="34"></circle>
                    </clipPath>
                </defs>
                <g clip-path="url(#search_m)" class="search_a">
                    <rect x="36" y="32" width="59" height="46" class="search_sa"></rect>
                    <rect x="36" y="32" width="59" height="12" class="search_sa search_saa"></rect>
                    <circle cx="42" cy="38" r="2" class="search_f"></circle>
                    <circle cx="48" cy="38" r="2" class="search_f"></circle>
                    <circle cx="54" cy="38" r="2" class="search_f"></circle>
                </g>
                <g id="search_b" class="animated-icon-state">
                    <circle cx="40" cy="40" r="34" class="search_s"></circle>
                    <line x1="64" y1="64" x2="94" y2="94" class="search_s"></line>
                    <g class="search_ba">
                        <path d="M63.5,46.9c0.6-2.2,1-4.5,1-6.9c0-13.5-11-24.5-24.5-24.5"></path>
                        <path d="M57.3,57.4c1.3-1.3,2.4-2.7,3.4-4.2"></path>
                    </g>
                </g>
              </svg> <!-- End Search Icon SVG -->
              <h3 class="text-center">Professional Search</h3>
              <p class="text-center">
                The Best Candidates for the Best Companies
                <a routerLink="jobs"> Job Board</a>
              </p>
            </div>
          </a>
        </div>
    </div>
</div>

<!-- Our Mission -->
<section id="o-our-mission-section" class="text-center o-home-container qs">
    <div class="container">
        <div class="o-our-mission-title">
            <h3>Our Mission</h3>

            <hr>
            <p style="font-size: 21px;">
              {{orion_mission}}
            </p>
        </div>
    </div>
</section>

<div class="section section-info section-info-presentation qs">
  <div class="col-xs-12 col-sm-12">
    <div class="info-pricing text-center">
      <div class="text">
        <h3 class="title-info">Certified by The Women's Business Enterprise National Council</h3>
        <p class="text-description text-gray">
          <img class="img-responsive center-block" src="/assets/images/WBE_color_rgb_CP.png"/>
        </p>
      </div>
    </div>
  </div>
</div>
