<div>
    <div class="o-jumbotron">
        <div class="container text-center">
            <h1>Orion Solutions Group</h1>
            <h3>Working to build you a better career</h3>
            <div>
                <!--<a href="#o-scroll-one" id="o-arrow-down" (click)="onAnchorClick()">-->
                <!--<img src="../../assets/images/white-arrow-down.png" height="50" style="margin-top:90px">-->
                <!--</a>-->
            </div>
        </div>
    </div>

    <subnavigation></subnavigation>
    <div style="background: #fbfcfd;">
        <div id="o-scroll-one" class="container o-home-container">
            <h3 class="text-center">
                Orion Solutions Group serves as a single source for all of our clients’
                human capital needs
            </h3>
            <div class="row">
                <div class="col-sm-12 col-md-4 col-lg-4 how-col how-col-3">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" class="animated-icon o-c-compass">
                        <circle cx="50" cy="50" r="44" class="compass_s compass_sf"></circle>
                        <circle cx="50" cy="50" r="48" class="compass_s compass_sa"></circle>
                        <circle cx="50" cy="50" r="39" class="compass_s compass_sb"></circle>
                        <path d="m 50,89 0,-7 m -39,-32 7,0 m 71,0 -7,0 m -32,-39 0,7"
                              class="compass_s compass_sc"></path>
                        <polygon points="50 78 39 50 50 22 61 50"
                                 class="compass_s compass_sd animated-icon-state"></polygon>
                        <circle cx="50" cy="50" r="4" class="compass_se"></circle>
                    </svg> <!-- End Compass Icon SVG -->
                    <h3 class="text-center">Project Delivery</h3>
                    <p class="text-center">We've got your back. Our career advice, consulting services and
                        partners
                        work with you in the job search.</p>
                </div>
                <div class="col-sm-12 col-md-4 col-lg-4 how-col how-col-2">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" class="animated-icon o-c-post">
                        <defs>
                            <clipPath id="signpost_c">
                                <rect x="0" y="0" width="45" height="100"></rect>
                                <rect x="55" y="0" width="45" height="100"></rect>
                            </clipPath>
                        </defs>
                        <g id="signpost_ow" clip-path="url(#signpost_c)" width="100" height="100" x="0" y="0">
                            <g id="signpost_w" class="animated-icon-state">
                                <g id="signpost_a0">
                                    <polyline points="45,12 16,12 8,20 16,28 45,28" class="signpost_sb"></polyline>
                                    <polyline points="45,35 16,35 8,43 16,51 45,51" class="signpost_sb"></polyline>
                                </g>
                                <g id="signpost_a1">
                                    <polyline points="55,24 84,24 92,32 84,40 55,40" class="signpost_sb"></polyline>
                                    <polyline points="55,47 84,47 92,55 84,63 55,63" class="signpost_sb"></polyline>
                                </g>
                            </g>
                        </g>
                        <rect width="10" height="96" x="45" y="2" rx="4" ry="4" class="signpost_sa"></rect>
                    </svg> <!-- End Signpost Icon SVG -->
                    <h3 class="text-center">Contract Staffing</h3>
                    <p class="text-center">Upload your resume to be matched to open jobs by our team.</p>
                </div>
                <div class="col-sm-12 col-md-4 col-lg-4 how-col how-col-1">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" class="animated-icon o-c-search">
                        <defs>
                            <clipPath id="search_m">
                                <circle cx="40" cy="40" r="34"></circle>
                            </clipPath>
                        </defs>
                        <g clip-path="url(#search_m)" class="search_a">
                            <rect x="36" y="32" width="59" height="46" class="search_sa"></rect>
                            <rect x="36" y="32" width="59" height="12" class="search_sa search_saa"></rect>
                            <circle cx="42" cy="38" r="2" class="search_f"></circle>
                            <circle cx="48" cy="38" r="2" class="search_f"></circle>
                            <circle cx="54" cy="38" r="2" class="search_f"></circle>
                        </g>
                        <g id="search_b" class="animated-icon-state">
                            <circle cx="40" cy="40" r="34" class="search_s"></circle>
                            <line x1="64" y1="64" x2="94" y2="94" class="search_s"></line>
                            <g class="search_ba">
                                <path d="M63.5,46.9c0.6-2.2,1-4.5,1-6.9c0-13.5-11-24.5-24.5-24.5"></path>
                                <path d="M57.3,57.4c1.3-1.3,2.4-2.7,3.4-4.2"></path>
                            </g>
                        </g>
                    </svg> <!-- End Search Icon SVG -->
                    <h3 class="text-center">Professional Search</h3>
                    <p class="text-center">We are constantly posting new positions and looking for quality candidates.
                        Visit our Orion Solutions
                        <a routerLink="jobs"> Job Board</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!-- Our Mission -->
    <section id="o-our-mission-section" class="text-center o-home-container">
        <div class="container">
            <div class="o-our-mission-title">
                <h3>Our Mission</h3>

                <hr>
                <p>
                    Orion Solutions Group exists to provide clients with an outstanding
                    experience for all their human capital needs – permanent hires, project
                    delivery, and interim staffing. We achieve this through our dedication
                    to fast, flexible, and honest solutions for our clients.
                </p>
            </div>
        </div>
    </section>

    <div style="padding:15px;color:white; background-color: #3c7095">
    </div>
    <!--<section id="o-values-section" class="o-home-container">-->
        <!--<div class="container text-center">-->
            <!--<h1 class="o-line-behind"><span>Our Values</span></h1>-->
            <!--&lt;!&ndash;<div class="separator-container">&ndash;&gt;-->
            <!--&lt;!&ndash;<div class="separator line-separator">♦</div>&ndash;&gt;-->
            <!--&lt;!&ndash;</div>&ndash;&gt;-->
            <!--<br>-->
            <!--<div class="row">-->
                <!--<div class="col-sm-6 o-quad-well o-split-column">-->
                    <!--<div class="o-split-column-wrapper o-shadow">-->
                        <!--<div data-toggle="collapse" data-target="#service">-->
                            <!--<h3>Service  <span style="float:right;transform: rotateZ(-90deg);"><img class="o-caret" height="20" src="../../assets/images/white-arrow-down.png"></span></h3>-->
                        <!--</div>-->
                        <!--<div id="service" class="collapse">-->
                            <!--<div class="separator-container">-->
                                <!--<div class="separator line-separator">♦</div>-->
                            <!--</div>-->
                            <!--<p>-->
                                <!--the cornerstone of our business is service to our clients, our-->
                                <!--candidates, and our consultants. We are responsive and helpful in-->
                                <!--all interactions-->
                            <!--</p>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class="o-split-column-wrapper o-shadow">-->
                        <!--<h3 data-toggle="collapse" data-target="#integrity">Integrity <span style="float:right;transform: rotateZ(-90deg);"><img class="o-caret" height="20" src="../../assets/images/white-arrow-down.png"></span></h3>-->
                        <!--<div id="integrity" class="collapse">-->
                            <!--<div class="separator-container">-->
                                <!--<div class="separator line-separator">♦</div>-->
                            <!--</div>-->
                            <!--<p>-->
                                <!--we always do the right thing for our clients, our candidates and our-->
                                <!--consultants. Business is built on trust and trust is created through-->
                                <!--a history of honest interactions-->
                            <!--</p>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="col-sm-6 o-quad-well o-split-column">-->
                    <!--<div class="o-split-column-wrapper o-shadow">-->
                        <!--<div data-toggle="collapse" data-target="#personal-growth">-->
                            <!--<h3>Personal Growth  <span style="float:right;transform: rotateZ(-90deg);"><img class="o-caret" height="20" src="../../assets/images/white-arrow-down.png"></span></h3>-->
                        <!--</div>-->
                        <!--<div id="personal-growth" class="collapse">-->
                            <!--<div class="separator-container">-->
                                <!--<div class="separator line-separator">♦</div>-->
                            <!--</div>-->
                            <!--<p>-->
                                <!--we foster an environment that challenges our people to learn new-->
                                <!--things, push beyond their comfort zones, and give back to the-->
                                <!--communities which helped in their success-->
                            <!--</p>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class="o-split-column-wrapper o-shadow">-->
                        <!--<h3 data-toggle="collapse" data-target="#innovation">Innovation <span style="float:right;transform: rotateZ(-90deg);"><img class="o-caret" height="20" src="../../assets/images/white-arrow-down.png"></span></h3>-->
                        <!--<div id="innovation" class="collapse">-->
                            <!--<div class="separator-container">-->
                                <!--<div class="separator line-separator">♦</div>-->
                            <!--</div>-->
                            <!--<p>-->
                                <!--we work with our clients to give them precisely what they need, and-->
                                <!--thrive on the opportunity to create new and unique solutions-->
                            <!--</p>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</section>-->
    <div class="section section-info section-info-presentation">
        <div class="container">
            <div class="row">
                <div class="col-sm-5">
                    <div class="info-pricing">
                        <div class="icon">
                            <span class="pe-7s-exapnd2 icons-info text-danger glyphicon glyphicon-screenshot"></span>
                        </div>
                        <div class="text">
                            <h3 class="title-info">We are located in <b>Troy, Michigan!</b></h3>
                            <p class="text-description text-gray">Feel free to contact us with any questions or
                                interests you
                                have for us here at Orion. We are always looking to help companies staff and recruit.
                            </p>
                        </div>
                    </div>
                    <div class="info-pricing">
                        <div class="icon">
                            <span class="pe-7s-tools icons-info text-danger  glyphicon glyphicon-list"></span>
                        </div>
                        <div class="text">
                            <h3 class="title-info">Want to get started? Contact Us!</h3>
                            <p class="text-description text-gray">
                                If you would like to learn about more ways Orion can be of service to your company, call
                                our office or
                                send an email at the <a routerLink="contact">Contact Us</a> or <a routerLink="ourteam">
                                Our Team </a>page.
                            </p>
                        </div>
                    </div>
                    <div class="info-pricing">
                        <div class="icon">
                            <span class="pe-7s-photo icons-info text-danger glyphicon glyphicon-equalizer"></span>
                        </div>
                        <div class="text">
                            <h3 class="title-info">Built with sections</h3>
                            <p class="text-description text-gray">
                                Here is some content that needs to be filled.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="image-container">
                        <img style="width: 100vw;margin-top: -392px;" src="../../assets/images/detroit_building%20(1)-min.jpeg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
